<h4> We have received a message from the page of a specific listing: </h4>
<p> Content: <%= @message.content %> </p>
<p> Email of sender (for responding): <%= @message.reply_address %> </p>
<p> Listing from which this message was sent: </p>

<p> 
  <a href="<%= show_listing_url(@listing.id) %>">
    <%= @listing.title %> <strong> by </strong> <%= @listing.advisor.first_name %> <%= @listing.advisor.second_name %>
  </a>
</p>
