<p> <b> User with email "<%= @request.requesting_email %>" has requested listing "<%= @listing.title %>" from guide "<%= @advisor.first_name %> <%= @advisor.second_name %>" </b> </p> <br>

<p> 1. Availability of requesting user: </p>
<p> User input: <%= @request.requesting_availability %>" </p> <br>

<p> 2. Info to contact requested <b> guide </b> to check his/her availability: </p>
<p> Name: <%= @advisor.first_name %> <%= @advisor.second_name %> </p>
<p> Email: <%= @advisor.email %> </p> <br>

<p> 3. Info to reply to requesting <b> user </b> afterwards: </p>
<p> Email: <%= @request.requesting_email %> </p> <br> <br>

<p> <strong> Also, Win! 5 points for Gryffindor! ;) </strong> </p>
