<!-- header -->
<div class="gl_header">
  <div class="links"> 
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div>

<!-- container -->
<div class="simple_container">
  <!-- edit form -->
  <div style="color: grey;"> <%= notice %> </div>  
  <div class="grey_box">
    <h3> Edit Your Settings <span style="font-size: 11px;"> - update your profile settings to your liking. </span> </h3>
      <%= form_for @profile, url: update_profile_path do |f| %>
     
      <h4> 1. About Yourself </h4>
      <h6> 1.1. Description </h6>
      <%= f.text_area :description, placeholder: "What are you currently doing? What have you done before? What are your fields of interest? etc.", style: "width: 358px; height: 197px; margin-bottom: 2px;" %>
      <h6> 1.2. Your Image </h6>
      <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png', id: "image_upload_field", style: "border: 1px solid grey; width: 358px; padding: 5px;" %>  
      <hr style="background-color: lightgrey;">

      <h4> 2. What are you willing to help with? Choose several. </h4>
      <h6> Applications - helping out people who are in the process of applying to your field. </h6> <%= f.check_box :application_help %>
      <h6> Career insight - providing insight into your profession given your personal experience. </h6> <%= f.check_box :career_insights_help %>
      <h6> Mentoring - passing on knowledge to people starting out in your field or a related one. </h6> <%= f.check_box :mentoring_help %>
      <h6> General - for requests that relate to your expertise but don't squarely fit a category. </h6> <%= f.check_box :general_help %>
      <hr style="background-color: lightgrey;">
      
      <h4> 3. What is the maximum number of requests you would be happy to get and do per week? </h4>
      <%= f.radio_button :max_no_of_session, "2", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 2 per week </span> <br>
      <%= f.radio_button :max_no_of_session, "1", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 1 per week </span> <br>
      <%= f.radio_button :max_no_of_session, "0.5", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 1 every 2 weeks </span> <br>
      <%= f.radio_button :max_no_of_session, "undefined" %> <span style="margin-left: 4px;"> I don't mind </span>
      <hr style="background-color: lightgrey;">

      <h4> 4. Set a price for a session (roughly 40min. of your time)</h4>
      <p style="font-size: 14px; margin-top: 5px; cursor: pointer; margin-bottom: 3px; text-decoration: underline;" onclick="showSet();"> set yourself: </p>
      <%= f.number_field :session_price, id: "set_yourself", style: "height: 28px; width: 60px; margin-bottom: 3px;" %> <br>
      
      <%= f.submit "Done Editing." %>
    <% end %> 
  </div> 
  <p style="margin-top: 5px;"> Guidelighter - Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona </p>

</div> 

      

  
