<!-- header -->
<div class="gl_header">
  <div class="links"> 
    <%= link_to "About Us", root_path %>
    <%= link_to "Contact Us", root_path %>
    <%= link_to "How It Works", root_path %>
    <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div> 




<div class="simple_container">
  <!-- errors -->
  <% if @profile && @profile.errors.any? %>
      <h4> Try again. </h4>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
  <% end %>

  <!-- form -->
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">
    <h3> Mini-Profile <span style="font-size: 11px;"> - to make your offers look more personal. </span> </h3>
    <%= form_for :profile, path: new_profile_action_path, html: { multipart: true } do |f|%>
      <h6> 1. About yourself. </h6>
      <%= f.text_area :description, style: "width: 355px; height: 145px; margin-bottom: 12px;" %>
      <h6> 2. Your image. </h6>
      <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png', id: "image_upload_field" %> <br>
      <%= f.submit "Done." %> 
    <% end %>
  </div>
  <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center;" >
     See examples below.
  </div> <br>

  <h3> Examples </h3>
  <div class="example_listing grey_box" style="padding: 20px 35px; margin-bottom: 25px; background-color: #F7F7F7;">
    <h4> Oleg Giberstein </h4>
    <div>
     I am the Co-Founder of Guidelighter. I studied Politics and International Relations at Royal Holloway (with an exchange year at the University of California, San Diego - yes, that was nice) followed by an MPhil in International Relations at the University of Oxford. <br> <br> Out of a post-graduation blues I found myself going into finance and first interned at Citigroup's Private Banking unit 
     and ultimately joined Citigroup’s Corporate Banking group in London where I covered EMEA Corporates. After 3 years at Citi I made my corporate escape and finally, at Guidelighter, I am doing the thing I am really good at: helping others to improve and find their way in life.
    </div> <br>
    <%= image_tag 'oleg.jpg' %>
  </div>

  <div class="example_listing grey_box" style="padding: 20px 35px; margin-bottom: 25px; background-color: #F7F7F7;">
    <h4> Johannes Seikowsky </h4>
    <div>
      I'm the CTO of Guidelighter, the very page you are on right now. That means that I do all the programming and development work around here.Despite my role as CTO I have never set foot in a Computer Science lecture, which is something I simultaneously regret and am proud of. Instead my formal education is in Economics. I hold a BA in "Economics and Management" from the University of Oxford. The stuff with computers I mostly taught myself through trial and error. Generally I have a wide range of interests and can pretty much be interested in anything as long as there's something to figure out. Right now I'm figuring out how to make Guidelighter great for you.
    </div> <br>
    <%= image_tag 'johannes.jpg' %>
  </div>

    <div class="example_listing grey_box" style="padding: 20px 35px; margin-bottom: 55px; background-color: #F7F7F7;">
    <h4> Surojit Chakraverti </h4>
    <div>
      Healthcare M&A Associate at Rothschild. Value investor and co-founder of technology startups. <br> <br>
      Worked and interned at Rothschild, Citi, Morgan Stanley and Bank of America Merrill Lynch amongst others. <br> <br>
      Experience in: <br>
      - Value investing, based on fundamental and special situations strategies: equities and derivatives <br> 
      - Start-up consulting and entrepreneurship <br>
      - Sell-side, buy-side M&A processes <br>
      - Capital markets transactions <br>
      - Spin-offs and carve-outs <br>
      - PE backed portfolio exits and platform builds
    </div> <br>
    <%= image_tag 'suro.jpg' %>
  </div>

  <!-- love 
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div> -->
</div>

<!-- alert if large uploads -->
<script type="text/javascript">
  $('#image_upload_field').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Please upload a smaller file.');
    }
  });
</script>
