<!-- header -->
<div class="gl_header">
  <div class="links"> 
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div> 

<div class="simple_container">
  <!-- errors -->
  <% if @profile && @profile.errors.any? %>
      <h4> Try again. </h4>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul> 
  <% end %>

  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>

  <div style="position: relative;" class="grey_box">
    <h6 style="position: absolute; top: -4px; right: 7px;"> 2/2 </h6>
    <h2 style="margin-bottom: 24px;"> Become a guide - Last step <span style="font-size: 11px;">  </span> </h2>

    <!-- form -->
    <%= form_for :profile, path: new_profile_action_path, html: { multipart: true } do |f|%>
      <h4> 1. What are you willing to help with? Choose several. </h4>
      <h6> Applications - helping out people who are in the process of applying to your field. </h6> <%= f.check_box :application_help, checked: true %>
      <h6> Career insight - providing insight into your profession given your personal experience. </h6> <%= f.check_box :career_insights_help, checked: true %>
      <h6> Mentoring - passing on knowledge to people starting out in your field or a related one. </h6> <%= f.check_box :mentoring_help, checked: true %>
      <h6> General - for requests that relate to your expertise but don't squarely fit a category. </h6> <%= f.check_box :general_help, checked: true %>
      <hr style="background-color: lightgrey;">

      <h4> 2. About Yourself  </h4>
      <h6> In a Nutshell </h6>
      <%= f.text_field :job_title, placeholder: "e.g. Product Manager & Developer, BSc. Economics", style: "width: 358px" %>
      <h6> Summary / Description </h6>
      <%= f.text_area :description, placeholder: "What are you currently doing? What have you done before? What are your fields of interest and expertise?", style: "width: 358px; height: 197px; margin-bottom: 12px;" %>
      <h6> Your Image</h6>
      <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png', id: "image_upload_field" %>  
      <hr style="background-color: lightgrey;">

      <h4> 3. Session Price <span style="font-size: 11px;"> - a session representing roughly 30-45 min. of your time. </span> </h4>
      <%= f.radio_button :session_price, 15.0 %> 15 £ <br>
      <%= f.radio_button :session_price, 20.0 %> 20 £ <br>
      <%= f.radio_button :session_price, 25.0, checked: true %> 25 £ <br>
      <%= f.radio_button :session_price, 20.0 %> 30 £ <br>
      <%= f.radio_button :session_price, 30.0 %> 35 £ <br> <br>

      Why a price? <br> Guidelighter is built on the notion of openly sharing one's experience and expertise with those who can benefit from it. Yet we believe that the time and energy of capable people is valuable and that this is to be respected and honoured. Thus, a session price should be set. <br>
      <!-- <%= f.text_field :job_title, style: "" %> -->
      <%= f.submit "Done.", id: "std-btn", style: "padding: 14px 213px;" %> 
    <% end %>
  </div>

  <p id="love" style="margin-top: 10px;"> Guidelighter - Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona </p>

  <!-- Options for extension:
    - add offer out of the ordinary in 1
    - set your own price field in 3
    - add a max number of sessions section as section 4
    - obv: put into a wizard. 
  -->
    

  <!-- <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center;" >
    See example-profiles below
  </div> <br> --> <br> <br>

</div>

<!-- alert if large uploads -->
<script type="text/javascript">
  $('#image_upload_field').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Please upload a smaller file.');
    }
  });
</script>
