<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Become a Guide in 3 Minutes", signup_path, class: "btn white_border", style: "margin-left: 8px; padding: 5px 28px;" %>
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <div class="color_background"> </div>
  
  <div class="btn-on-show">
    <%= link_to "Back", "#", onclick: "goBack();", class: "btn btn-md" %>
    <!-- <%= link_to "Browse more Listings", search_path(), class: "btn btn-md" %> <br> -->
  </div>

  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <h6> <%= @advisor.first_name %> <%= @advisor.second_name[0] %>. / your guide </h6>
  <%= image_tag @profile.profile_image.url, style: "border: 1px solid #A6A6A6;"  %> <br>

  <div id="guide_show">
    <h6> The Guide </h6>
    <div class="grey_box" style="padding: 4px 52px 8px 52px;">
      <h3> <%= @advisor.first_name %> <%= @advisor.second_name[0] %> <span style="font-size: 14px;"> - <%= @profile.job_title if @profile.job_title %> </span> </h3>
      <p> <%= simple_format @profile.description, style: "line-height: 1.5;" %> </p>
      <h6> Price per session: £ <%= @profile.session_price if @profile.session_price %> </h6>
      <div class="button">
        <a id="std-btn" style="padding: 19px 92px; cursor: pointer;" onclick="showRequest();" return false;> Request <%= @advisor.first_name %> </a>
      </div>
    </div>
  </div>

  <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center; margin-top: 6px;" >
     Max. requests per week: <%= @profile.max_no_of_session %> | Currently available? <i class="fa fa-check" aria-hidden="true"></i>
  </div>

  <div id="request_from" style="display: none;">
    <div class="grey_box" style="margin-bottom: 25px;">  
      <h3> Request Form </h3>
      <%= form_for :request, url: create_request_path(advisor_id: @advisor.id) do |f| %>
        <h6> Briefly, what is your situation? What would you like help with? <br> </h6>
        <%= f.text_field :indicated_interest , style: "width: 392px;", class: "small_placeholder_text" %>
        <h6>When would you usually be available for a session? Days? Times? </h6>
        <%= f.text_field :requesting_availability, style: "width: 392px;", class: "small_placeholder_text" %>
        <h6>Your Email - so we can reply. </h6>
        <%= f.text_field :requesting_email, style: "width: 392px;", class: "small_placeholder_text" %>
        <h6>Your Name - for a personal touch. </h6>
        <%= f.text_field :requesting_name, style: "width: 392px;", class: "small_placeholder_text" %>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <%= f.submit "Done.", id: "std-btn" %> <br>
        <h6> Note: This request is not binding. It's purpose is to check wether it <br> is possible to arrange a session with the guide you are requesting. </h6>
      <% end %>     
    </div>
  </div>

  <div id="questions">
    <h6> Questions? </h6>
    <div class="grey_box" style="padding: 14px 52px 8px 52px;">
      <br>
      <%= form_for :message, url: question_message_path do |f| %> 
        <%= f.text_area :content, placeholder: "your question", style: "height: 72px;" %>
        <%= f.text_field :reply_address, placeholder: "your@email.com", style: "width: 100%;" %> <br>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <div class="button" style="padding-top: 0px;"> 
          <%= f.submit "Ask", style: "padding: 2px 30px;", id: "std-btn" %>
        </div>
      <% end %>
    </div> <br>
  </div>

  <div class="bottom_right_buttons_home">
    <%= link_to "Mentoring", search_path(category: "practical_expertise"), class: "btn btn-md" %> <br>
    <%= link_to "Career Help", search_path(category: "career_insights"), class: "btn btn-md" %> <br>
    <%= link_to "Applications", search_path(category: "application_help"), class: "btn btn-md" %> <br>
  </div>

  <!-- <div class="bottom_right_buttons">
    <%= link_to "Submit a request", new_user_request_path, class: "btn btn-md" %>
  </div> -->
   
  <p id="love"> Guidelighter - Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona </p>
</div>

<!-- js for back button -->
<script type="text/javascript">
  function goBack(){
    window.history.back()
  }

  function showRequest(){
    $("#request_from").toggle();
  }
</script>

