<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "Success Stories", reviews_path, class: "btn white_border", style: "margin-left: 8px; padding: 5px 28px; border: 1px solid white;" %>
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <div class="color_background"> </div>
  
  <div class="btn-on-show" style="text-align: center; width: 252px;">
    <div onclick="goBack();" class="btn" style="border: 1px solid black; padding: 14px 72px; margin-top: 2px;"> MORE GUIDES </div>    
    <div onclick="goBack();" class="btn" style="border: 1px solid black; padding: 20px 63px; margin-top: 4px;"> KEEP BROWSING </div>
    <div onclick="goBack();" class="btn" style="border: 1px solid black; padding: 12px 88px; margin-top: 4px;"> GO BACK </div>
  </div>

  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <h6 style="font-size: 15px; text-decoration: underline;"> <%= @advisor.first_name %> <%= @advisor.second_name[0] %> / Your Guide </h6>
  <%= image_tag @profile.profile_image.url, style: "border: 1px solid #A6A6A6; margin-top: 7px; margin-bottom: 3px;" %> <br>



  <div id="guide_show" style="margin-bottom: 5px; margin-top: 15px;">
    <h6 style="font-size: 15px; text-decoration: underline;"> <%= @advisor.first_name %> <%= @advisor.second_name[0] %>. </h6>

    <div class="" style="padding: 4px 52px 8px 52px; text-align: center; font-size: 15px; padding: 0 0 8px 0; margin-bottom: 10px;">
    Applications Help
    <% if @profile.application_help? %> 
      <i class="fa fa-check" aria-hidden="true" style="color: grey;"></i> 
    <% else %>
      <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i>
    <% end %>

    Career Support
    <% if @profile.career_insights_help? %>  
      <i class="fa fa-check" aria-hidden="true" style="color: grey;"></i> 
    <% else %>
      <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i>
    <% end %> <br>
    
    Mentoring
    <% if @profile.mentoring_help? %> 
      <i class="fa fa-check" aria-hidden="true" style="color: grey;"></i> 
     <% else %>
      <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i>
     <% end %>
    
    Specific Requests
    <% if @profile.general_help? %> 
      <i class="fa fa-check" aria-hidden="true" style="color: grey;"></i> 
    <% else %>
      <i class="fa fa-times" aria-hidden="true" style="color: grey;"></i>
    <% end %>
    </div>
  


    <div class="grey_box" style="padding: 4px 52px 8px 52px;">
      <h3> <span style="font-size: 19px;"> <%= @profile.job_title if @profile.job_title %> </span> </h3>
      <p> <%= simple_format @profile.description, style: "line-height: 1.5; font-size: 15px;" %> </p>
      <h6 style="font-size: 15px;"> Session: £ <%= @profile.session_price if @profile.session_price %> </h6>
      <div class="button">
        <a id="std-btn" style="font-size: 18px; padding: 18px 114px; cursor: pointer;" onclick="showRequest();" return false;> Request <%= @advisor.first_name %> </a>
      </div>
    </div>
  </div>

  <div id="request_from" style="display: none;">
    <div class="grey_box" style="margin-bottom: 5px;">  
      <!-- <h3> Request Form </h3> -->
      <h4 style="margin-top: 17px; margin-bottom: -13px; text-decoration: underline;"> Request Form </h4>
      <%= form_for :request, url: create_request_path(advisor_id: @advisor.id) do |f| %>
        <h6 style="margin-top: 18px;"> Briefly, what is your situation? What would you like help with? <br> </h6>
        <%= f.text_field :indicated_interest , style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>When would you usually be available for a session? Days? Times? </h6>
        <%= f.text_field :requesting_availability, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Email - so we can reply. </h6>
        <%= f.text_field :requesting_email, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Name - for a personal touch. </h6>
        <%= f.text_field :requesting_name, style: "width: 418px;", class: "small_placeholder_text" %>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <%= f.submit "Done.", id: "std-btn" %> <br>
        <h6> Note: This request is not binding. It's purpose is to check whether it <br> is possible to arrange a session with the guide you are requesting. </h6>
      <% end %>     
    </div>
  </div>

  <% if @profile.max_no_of_session %> 
    <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center; font-size: 15px;">
      Currently available: <i class="fa fa-check" aria-hidden="true"></i>

      <!-- <% unless @profile.max_no_of_session == "undefined" %>
        Max. requests per week: <%= @profile.max_no_of_session %> | Currently available: <i class="fa fa-check" aria-hidden="true"></i>
      <% else %>
      <% end %> -->
    </div>
  <% end %>

  <h6 style="font-size: 15px; text-decoration: underline; margin-top: 12px;"> Offering </h6>
  <div id="offering" style="margin-top: 5px;">
    <div class="grey_box" style="padding: 14px 52px 14px 52px;">
      <!-- <h4 style="font-size: 19px;"> What <%= @advisor.first_name %> can help with </h4> -->
      <ul style="margin-left: -20px; margin-top: -3px; margin-bottom: -6px;">
        <% if @profile.application_help? %> <li> <h6 style="font-size: 15px;"> Applications Help - if you are currently applying to or are planning to apply to <%= @advisor.first_name %>'s career path, make sure to get in touch to get some valuable help. </h6> </li> <% end %>
        <% if @profile.career_insights_help? %> <li> <h6 style="font-size: 15px;"> Career Support - if you are interested in gaining insight into <%= @advisor.first_name %>'s career path to see what it's all about, how it works and how to progress. </h6> </li> <% end %>
        <% if @profile.mentoring_help? %> <li> <h6 style="font-size: 15px;"> Mentoring - if you are interested in acquiring some of the skills - hard and soft - that faciltate success in <%= @advisor.first_name %>'s occupation. </h6> </li> <% end %>
        <% if @profile.general_help? %> <li> <h6 style="font-size: 15px;"> Specific Requests </span> - anything that would help you out that directly or indirectly relates to <%= @advisor.first_name %>'s expertise. You choose. What do you need? </h6> </li> <% end %>
      </ul>
      <div class="button">
        <a id="std-btn" style="font-size: 18px; padding: 11px 58px; cursor: pointer;" onclick="showRequestBottom();" return false;> Request <%= @advisor.first_name %> </a>
      </div>
    </div>
  </div>

  <div id="request_from_bottom" style="display: none; margin-top: 10px;">
    <div class="grey_box" style="margin-bottom: 5px;">  
      <!-- <h3> Request Form </h3> -->
      <h4 style="margin-top: 17px; margin-bottom: -13px; text-decoration: underline;"> Request Form </h4>
      <%= form_for :request, url: create_request_path(advisor_id: @advisor.id) do |f| %>
        <h6 style="margin-top: 18px;"> Briefly, what is your situation? What would you like help with? <br> </h6>
        <%= f.text_field :indicated_interest , style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>When would you usually be available for a session? Days? Times? </h6>
        <%= f.text_field :requesting_availability, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Email - so we can reply. </h6>
        <%= f.text_field :requesting_email, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Name - for a personal touch. </h6>
        <%= f.text_field :requesting_name, style: "width: 418px;", class: "small_placeholder_text" %>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <%= f.submit "Done.", id: "std-btn" %> <br>
        <h6> Note: This request is not binding. It's purpose is to check whether it <br> is possible to arrange a session with the guide you are requesting. </h6>
      <% end %>     
    </div>
  </div>

  
  <p id="love" style="margin-top: 5px; cursor: pointer; margin-bottom: 5px;" onclick="showQuestions();"> Any Questions? Click here to ask. </p>

  <div id="questions" style="display: none;">
    <div class="grey_box" style="padding: 14px 52px 8px 52px;">
      <h6 style="text-decoration: underline;">Get in touch</h6>
      <%= form_for :message, url: question_message_path do |f| %> 
        <%= f.text_area :content, placeholder: "your question", style: "height: 72px;" %>
        <%= f.text_field :reply_address, placeholder: "your@email.com", style: "width: 100%;" %> <br>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <div class="button" style="padding-top: 0px;"> 
          <%= f.submit "Ask", style: "padding: 2px 30px;", id: "std-btn" %>
        </div>
      <% end %>
    </div> <br>
  </div>

  <div class="bottom_right_buttons_home">
    <%= link_to "Can't find what you are looking for?", new_user_request_path, class: "btn btn-md", style: "width: 264px;" %> <br>
  </div>

</div>

<!-- js for back button -->
<script type="text/javascript">
  function goBack(){
    window.history.back()
  }

  function showRequest(){
    $("#request_from").toggle();
  }

 function showRequestBottom(){
    $("#request_from_bottom").toggle();
  }

  function showQuestions(){
    $("#questions").toggle();
  }
</script>

