<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Become a Guide in 3 Minutes", signup_path, class: "btn white_border", style: "margin-left: 8px; padding: 5px 28px; border: none;" %>
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <div class="color_background"> </div>
  
  <div class="btn-on-show related_users" style="text-align: center; width: 145px;">
    <h6 style="text-decoration: underline; margin-bottom: 0px;"> Related Guides </h6>
    <% @related_profiles.each do |pro| %>
      <% if pro.advisor %>
        <a href="<%= show_profile_path(profile_id: pro.id)%>" style="border: none;">
        <%= image_tag pro.profile_image.url, style: "width: 60px; height: auto; margin-bottom: 0px;" %>
        </a>
        <h6> <%= pro.advisor.first_name %> <%= pro.advisor.second_name[0] %>. </h6>
      <% end %>
    <% end %>
  </div>

  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <h6 style="font-size: 15px; text-decoration: underline;"> <%= @advisor.first_name %> <%= @advisor.second_name[0] %> / Your Guide </h6>
  <%= image_tag @profile.profile_image.url, style: "border: 1px solid #A6A6A6; margin-top: 7px; margin-bottom: 3px;" %> <br>

  <h6 style="font-size: 15px; text-decoration: underline;"> Offering </h6>
  <div class="grey_box" style="padding: 4px 52px 8px 52px; text-align: center; font-size: 15px;">
    General support <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i> Applications Help <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i> <br> Career Advice and Insight <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i> Skills Mentoring <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i>
  </div>

  <div id="guide_show" style="margin-bottom: 5px;">
    <h6 style="font-size: 15px; text-decoration: underline;"> <%= @advisor.first_name %> <%= @advisor.second_name[0] %>. </h6>
    <div class="grey_box" style="padding: 4px 52px 8px 52px;">
      <h3> <span style="font-size: 19px;"> <%= @profile.job_title if @profile.job_title %> </span> </h3>
      <p> <%= simple_format @profile.description, style: "line-height: 1.5; font-size: 15px;" %> </p>
      <h6 style="font-size: 15px;"> Session: £ <%= @profile.session_price if @profile.session_price %> </h6>
      <div class="button">
        <a id="std-btn" style="font-size: 18px; padding: 18px 114px; cursor: pointer;" onclick="showRequest();" return false;> Request <%= @advisor.first_name %> </a>
      </div>
    </div>
  </div>

  <div id="request_from" style="display: none;">
    <div class="grey_box" style="margin-bottom: 5px;">  
      <!-- <h3> Request Form </h3> -->
      <%= form_for :request, url: create_request_path(advisor_id: @advisor.id) do |f| %>
        <h6 style="margin-top: 18px;"> Briefly, what is your situation? What would you like help with? <br> </h6>
        <%= f.text_field :indicated_interest , style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>When would you usually be available for a session? Days? Times? </h6>
        <%= f.text_field :requesting_availability, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Email - so we can reply. </h6>
        <%= f.text_field :requesting_email, style: "width: 418px;", class: "small_placeholder_text" %>
        <h6>Your Name - for a personal touch. </h6>
        <%= f.text_field :requesting_name, style: "width: 418px;", class: "small_placeholder_text" %>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <%= f.submit "Done.", id: "std-btn" %> <br>
        <h6> Note: This request is not binding. It's purpose is to check wether it <br> is possible to arrange a session with the guide you are requesting. </h6>
      <% end %>     
    </div>
  </div>

  <% if @profile.max_no_of_session %> 
    <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center; font-size: 15px;">
      <% unless @profile.max_no_of_session == "undefined" %>
        Max. requests per week: <%= @profile.max_no_of_session %> | Currently available: <i class="fa fa-check" aria-hidden="true"></i>
      <% else %>
        Currently available: <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>

  <div id="offering" style="margin-top: 5px;">
    <div class="grey_box" style="padding: 14px 52px 14px 52px;">
      <h4 style="font-size: 19px;"> What <%= @advisor.first_name %> can help with. </h4>
      <ul style="margin-left: -20px; margin-top: -3px;">
      <li> <h6 style="font-size: 15px;"> General support </span> - anything that would help you out that directly or indirectly relates to <%= @advisor.first_name %>'s expertise. You choose. What do you need? </h6> </li>
      <li> <h6 style="font-size: 15px;"> Applications - if you are currently applying to or are planning to apply to <%= @advisor.first_name %>'s career path, make sure to get in touch to get some valuable help. </h6> </li>
      <li> <h6 style="font-size: 15px;"> Career Advice and Insight - if you are interested in gaining insight into <%= @advisor.first_name %>'s career path to see what it's all about and how it works. </h6> </li>
      <li> <h6 style="font-size: 15px;"> Skill Mentoring - if you are interested in acquiring some of the skills - hard and soft - that faciltate success in <%= @advisor.first_name %>'s occupation. </h6> </li>
      </ul>
    </div>
  </div>
  
  <p id="love" style="margin-top: 5px; cursor: pointer; margin-bottom: 5px;" onclick="showQuestions();"> Any Questions? Click here to ask. </p>

  <div id="questions" style="display: none;">
    <div class="grey_box" style="padding: 14px 52px 8px 52px;">
      <h6 style="text-decoration: underline;">Get in touch</h6>
      <%= form_for :message, url: question_message_path do |f| %> 
        <%= f.text_area :content, placeholder: "your question", style: "height: 72px;" %>
        <%= f.text_field :reply_address, placeholder: "your@email.com", style: "width: 100%;" %> <br>
        <%= f.hidden_field :advisor_id, value: @advisor.id %>
        <div class="button" style="padding-top: 0px;"> 
          <%= f.submit "Ask", style: "padding: 2px 30px;", id: "std-btn" %>
        </div>
      <% end %>
    </div> <br>
  </div>

  <div class="bottom_right_buttons_home">
    <%= link_to "Mentoring", search_path(category: "practical_expertise"), class: "btn btn-md" %> <br>
    <%= link_to "Career Help", search_path(category: "career_insights"), class: "btn btn-md" %> <br>
    <%= link_to "Applications", search_path(category: "application_help"), class: "btn btn-md" %> <br>
  </div>

  <!-- <div class="bottom_right_buttons">
    <%= link_to "Submit a request", new_user_request_path, class: "btn btn-md" %>
  </div> -->
   
</div>

<!-- js for back button -->
<script type="text/javascript">
  function goBack(){
    window.history.back()
  }

  function showRequest(){
    $("#request_from").toggle();
  }

  function showQuestions(){
    $("#questions").css("display", "inline");
  }
</script>

