<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "EXPLORE LISTINGS", search_path(category: "career_insights"), class: "btn white_border"  %>
    <%= link_to "BECOME A GUIDE", signup_path, class: "btn btn-small btn-turquoise"  %>
  </div>
</div>

<div class="simple_container">  
  <!-- form -->
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">
    <h3> Guide Login <span style="font-size: 11px;"> - provide your email and password. </span> </h3>
    <%= form_for :login, path: login_action_path do |f| %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password_provided, placeholder: "Password" %>
      <%= f.submit "Login.", id: "std-btn" %>
    <% end %>
  </div>
  <div style= "margin-top: 10px; font-size: 14px;">
    <%= link_to "Forgot your password?", new_password_request_path %>
  </div>
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
