<!-- header -->
<div class="gl_header">
  <div class="links">  
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Edit Profile", edit_profile_path %>
    <%= link_to "Post Listing", new_listing_path %>
    <%= link_to "Manage listings", logout_path %>
    <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div>



<!-- container -->
<div class="simple_container">
  <!-- form -->
  <div class="grey_box">
    <h3>Edit Listing</h3>
    <%= form_for @listing, url: update_listing_path(listing_id: @listing.id) do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :description, style: "height: 225px;" %>
      <%= f.number_field :price %> <br>
      <%= f.submit "Done." %>
    <% end %>
  </div>
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
