
<div class="simple_container">
  <!-- header -->
  <div class="simple_header">
    <%= link_to "Logout", logout_path %> |
    <%= link_to "Edit Profile", edit_profile_path %>
  </div> <br> <br> <br>

  <!-- errors -->
  <% if @listing && @listing.errors.any? %>
    <h4> Try again. </h4>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 
  <% end %>

  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <!-- new listing -->
  <div class="grey_box">
    <h3> Create Listing <span style="font-size: 11px;"> </span> </h3>
    <%= form_for :listing, path: new_listing_action_path, html: { multipart: true } do |f| %>
      <!-- passing advisor id -->
      <%= f.hidden_field :advisor_id, :value => @advisor.id %>
      <!-- form -->  
      <h6> What advice/guidance do you offer? Set basic info. <br> (your experience, how you can help, etc.) </h6>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_area :description, placeholder: "Description", style: "width: 355px; height: 190px;" %>
      <%= f.number_field :price, placeholder: "Price per session (in £)", min: "0", style: "width: 165px;" %> 
                  <span style="font-size: 11px;"> Currency: British pounds. </span>
      <!--  <h6> 2. Upload a cover image for this listing </h6>
      <%= f.file_field :listing_image, accept: 'image/jpeg,image/gif,image/png', id: "image_upload_field" %> <br> -->

      <%= f.submit "Done." %>
    <% end %> 
  </div> 
  <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center;" >
    The Listings you create here will be bookable on guidelighter.com.
  </div> <br> <br>

  <% if !@listings.nil? %>
    <% if !@listings.empty? %>
      <h3> Manage Your Listings <span style="font-size: 11px;"> </span> </h3> <br>
      <% @listings.each do |listing| %>
        <div class="listing_on_new">
          <br>
          <% unless listing.title.empty? %>
            Title: <%= listing.title %>
          <% end %> <br> <br>
          
          <% unless listing.description.empty? %>
            Description: <%= listing.description %>
          <% end %> <br> <br>
          
          <% unless listing.price.nil? %>
            Price: <%= listing.price %> £
          <% end %>

          <% unless listing.listing_image.url.nil? %>  
            <%= image_tag listing.listing_image.url %>
          <% end %> <br>

          <div class="links" style="color: lightGrey;">
            <%= link_to "Edit", edit_listing_path(listing_id: listing.id) %> |
            <%= link_to "Delete", delete_listing_path(listing_id: listing.id), method: :delete, data: { confirm: 'Want to delete this listing?' } %>
          </div>

        </div> <br>
      <% end %>
    <% end %>
  <% end %>

  <h3> Example <span style="font-size: 11px;"> </span> </h3>
  <div class="example_listing grey_box" style="padding: 20px 35px; margin-bottom: 55px; background-color: #F7F7F7;">
    <h4> Advice on Finance Careers & Applications </h4>
    <div>
     Are you considering to apply for jobs in finance but are not sure where to start? I have worked in Private Banking, Corporate Banking and Sovereign Risk at Citigroup for 4 years. I can share my experience of working in different areas of finance and help you to get a grasp of what goes on where and how you can get in (and whether you should). In case you already know what you are interested in, I can guide you through the most important issues and what you should know before applying. We can communicate via Skype or in person (if we can arrange it). If you are unsure whether to proceed, book my free listing first and we can have an intro chat!
     </div> <br>
    <div>Price: 30 £</div>
    <%= image_tag 'oleg.jpg' %>
  </div>

</div>

<!-- alerting large uploads -->
<script type="text/javascript">
  $('#image_upload_field').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Please upload a smaller file.');
    }
  });
</script>
