
<h2> Create Listing </h2>
<%= form_for :listing, path: new_listing_action_path do |f| %>
  <!-- passing advisor id -->
  <%= f.hidden_field :advisor_id, :value => @advisor.id %>
  <!-- form -->  
  <%= f.text_field :title, placeholder: "title" %>
  <%= f.text_field :price, placeholder: "price" %> <br> <br>
  <%= f.text_area :description, placeholder: "description", style: "width: 355px" %> <br>

  <%= f.submit "Publish Listing." %>
<% end %> <br> <br> <br>


<h3> Profile Preview </h3>
<%= image_tag @advisor.profile.profile_image.url, style: "width: 300px;" if @advisor.profile.profile_image %>
<p> <%= @advisor.profile.description if @advisor.profile.description %> </p> <br>
