
<!-- errors -->
<% if @listing && @listing.errors.any? %>
    <h4> Try again. </h4>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul> 
<% end %>

<!-- new listing -->
<div class="grey_box">
  <h3> Create a Listing <span style="font-size: 11px;"> </span> </h3>
  <%= form_for :listing, path: new_listing_action_path, html: { multipart: true } do |f| %>
    <!-- passing advisor id -->
    <%= f.hidden_field :advisor_id, :value => @advisor.id %>
    <!-- form -->  
    <h6> 1. Set the basic info of the advice/guidance you want to offer & its price. </h6>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :description, placeholder: "Description", style: "width: 355px" %>
    <%= f.number_field :price, placeholder: "Price", style: "margin-bottom: 30px;" %>
    <h6> 2. Upload a cover image for this listing </h6>
    <%= f.file_field :listing_image, accept: 'image/jpeg,image/gif,image/png', id: "image_upload_field" %> <br>

    <%= f.submit "Done." %>
  <% end %> 
</div> <br> <br> <br>

<!-- profile preview -->
<% if @advisor.profile.profile_image.url %>
  <h3> Profile Preview </h3>
  <%= image_tag @advisor.profile.profile_image.url, style: "width: 300px;" if @advisor.profile.profile_image %>
  <p> <%= @advisor.profile.description if @advisor.profile.description %> </p> <br>
<% end %>

<!-- all listings -->
<% if @listings %>
  <h3> All Published Listings <span style="font-size: 11px;"> </span> </h3>
  <% @listings.each do |listing| %>
    <div class="listing_on_homepage">
      <% unless listing.title.empty? %>
        <h4> <%= listing.title %> </h4>
      <% end %> <br>
      
      <% unless listing.description.empty? %>
        Description: <%= listing.description %>
      <% end %> <br>
      
      <% unless listing.price.nil? %>
        Price: <%= listing.price %>
      <% end %> <br> <br>

      <% unless listing.listing_image.url.nil? %>  
        <%= image_tag listing.listing_image.url %>
      <% end %> <br>
    </div>
  <% end %>
<% end %>


<!-- alering large uploads -->
<script type="text/javascript">
  $('#image_upload_field').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Please upload a smaller file.');
    }
  });
</script>
