<br> <br> <br>

<div class="simple_container">

  <h6 style="text-decoration: underline;">The Guide</h6>
  <h3><%= @advisor.first_name %> <%= @advisor.second_name %>  </h3>
  <%= image_tag @profile.profile_image.url  %> <br>
  <!-- <p style="text-align: center;"><%= @profile.description %> </p> <br> -->

  <h6 style="text-decoration: underline;">The Offer</h6>
  <h3><%= @listing.title %> </h3>
  <p><%= @listing.description %> </p>
  <p>Price: <%= @listing.price %> € </p>
  <div class="button">
    <%= link_to "Book now", "#" %>
  </div>

  <br> <br>
  <h6 style="text-decoration: underline;"> About <%= @advisor.first_name %> <%= @advisor.second_name %> </h6>
  <p> <%= @profile.description %> </p>

  <br> <br>
  <h6 style="text-decoration: underline;">Have a question about this listing? Contact <%= @advisor.first_name %>.</h6>
  <form action="listing" method="post">
    <textarea name="question">...</textarea>
    <div class="button" style="padding-top: 0px;"> <input type="submit" value="Send" style="padding: 2px 30px;"> </input> </div>
  </form>

</div>



<br> <br> <br> <br> <br>
