<br> <br> <br>

<div class="simple_container">
  <h3>Listing</h3>
  <h3><%= @listing.title %> </h3>
  <p><%= @listing.description %> </p>
  <p>Price: <%= @listing.price %> € </p> <br>
  <div class="button">
    <%= link_to "Book now", "#" %>
  </div>

  <br>

  <h3>Guide</h3>
  <p><%= @advisor.first_name %> <%= @advisor.second_name %> </p>
  <p><%= @profile.description %> </p>
  <%= image_tag @profile.profile_image.url  %>
</div>

<br> <br> <br> <br> <br>
