
<div class="simple_container">
  <!-- header -->
  <div class="simple_header">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Edit Profile", edit_profile_path %> |
      <%= link_to "Manage Listings", new_listing_path %>
    <% else %>  
      <%= link_to "Login", login_path %> |
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div> <br> <br> <br>


  <h6 style="text-decoration: underline;"> <%= @advisor.first_name %> <%= @advisor.second_name %> / your guide </h6>

  <%= image_tag @profile.profile_image.url  %> <br>
  <!-- <p style="text-align: center;"><%= @profile.description %> </p> <br> -->

    <h6 style="text-decoration: underline;">The Offer</h6>

  <div class="grey_box">
    <h3><%= @listing.title %> </h3>
    <p><%= @listing.description %> </p>
    <p>Price: <%= @listing.price %> € </p>
    <div class="button">
      <%= link_to "Book now", "#" %>
    </div>
  </div>

  <br> 
  <h6 style="text-decoration: underline;"> About <%= @advisor.first_name %> </h6>
  <p> <%= @profile.description %> </p>

  <br>  
  <h6 style="text-decoration: underline;"> Contact </h6>
  <form action="listing" method="post">
    <textarea name="question"></textarea>
    <div class="button" style="padding-top: 0px;"> <input type="submit" value="Send" style="padding: 2px 30px;"> </input> </div>
  </form>

</div> <br> <br> <br> <br> <br>
