<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Guide Login", login_path, class: "btn white_border" %>
    <%= link_to "Become a Guide", signup_path, class: "btn white_border", style: "margin-left: 8px;" %>
  </div>
</div>


<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <div class="intro" style="margin-bottom: 10px;">
    
    <!-- headline -->
    <br>
    <% if @category %>
      <% if @category == "career_insights" %>
        <h2 style="font-size: 37px; text-align: center;"> Insights into Career Paths </span> </h2>    
      <% elsif @category == "practical_expertise" %>
        <h2 style="font-size: 37px; text-align: center;"> Mentoring & Coaching </span> </h2>
      <% else %>
        <h2 style="font-size: 37px; text-align: center;"> Help with Applications </span> </h2>
      <% end %>
    <% else %>
      <h2 style="font-size: 27px; text-align: center;"> Use our categories and tags to find the right guidance for you. </span> </h2>    
    <% end %>

    <!-- category buttons -->
    <div style="margin-bottom: 0px;">
      <% if @category == "application_help" %>
        <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      <% if @category == "career_insights" %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      <% if @category == "practical_expertise" %>
        <%= link_to "Mentoring & Coaching", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %> <!-- old color: #FFD990 -->
      <% else %>
        <%= link_to "Mentoring & Coaching", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
    </div>
  </div>

  <!-- application help --> 
  <% if @category == "application_help" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <%  {"accounting" => "Accounting","art_school" => "Art School", "oxford" => "Oxford","asset_management" => "Asset Management","audit" => "Auditing","banking" => "Banking","big4" => "Big4","biochemistry" => "Biochemistry","business_school" => "Business School","cambridge" => "Cambridge","phd" => "PhD","ucl" => "UCL" ,"world_bank" => "World Bank","wharton" => "Wharton","university_application" => "University Applications","travel_industry" => "Travel Industry","sales_careers" => "Sales","un" => "UN","scholarships" => "Scholarships","trading" => "Trading","theatre" => "Theatre","think_tanks" => "Think Tanks","product_management" => "Product Management", "politics" => "Politics","neuroscience" => "Neuroscience","teaching" => "Teaching","personal_statement" => "Personal Statements","ngos" => "NGOs","nonprofit" => "Non-profits","case_studies" => "Case Studies","management_consulting" => "Management Consulting", "mathematics" => "Mathematics","humanitarian_careers" => "Humanitarian Careers","m&a" => "M&A","mba" => "MBA","mckinsey" => "McKinsey","hospitality" => "Hospitality","hr" => "HR","life_sciences" => "Life Sciences","international_relations"=> "International Relations","investment_banking" => "Investment Banking","interviews" => "Interview Prep","finance" => "Finance","healthcare" => "Healthcare","grad_school" => "Grad School","gmat" => "GMAT","history" => "History","grande_ecoles" => "Grand Ecoles","fintech" => "Fintech","funding_applications" => "Funding Applications","fraud_investigation" => "Fraud Investigation","games_industry" => "Games Industry","economic_consulting" => "Economic Consulting","economics" => "Economics","diplomacy" => "Diplomacy", "cv" => "CV","yale" => "Yale"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "application_help", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> 
      <%= link_to "See All", search_path(category: "application_help"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>
  
  <!-- career insights --> 
  <% if @category == "career_insights" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"art_design_graphics"=>"Art, Design and Graphics", "asset_management" => "Asset Management", "theatre"=>"Theatre Careers", "business" => "Business and Business Development", "heritage"=>"Heritage and Conservation", "non_profit"=>"Non-Profits", "humanitarian_careers"=>"Humanitarian Careers", "accounting"=>"Accounting", "auditing"=>"Auditing", "investment_banking"=>"Investment Banking","management_consulting"=>"Management Consulting", "postdoc_and_academic"=>"Postdoc and Academic Careers", "diplomacy_ir"=>"Diplomacy, International Organizations & Relations", "teaching" => "Teaching","travel_industry" => "Travel Industry","hospitality" => "Hospitality","product_management" => "Product Management","healthcare_sector" => "Healthcare sector","entrepreneurship" => "Startup and Entrepreneurship","science_careers" => "Careers in Science","development_programming" => "Software, Development and Programming","career_change" => "Career Change","sales_careers" => "Sales Careers","Engineering" => "Engineering Careers","freelance_translating" => "Freelance Translating","games_industry" => "Games Industry", "finance" => "Finance", "career_advice"=>"General Career Aid and Insight"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "career_insights", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> <br>
      <%= link_to "See All", search_path(category: "career_insights"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>

  <!-- mentoring & coaching -->
  <% if @category == "practical_expertise" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"accounting"=>"Entrepreneurship", "apps"=>"Programming, Software and Development", "beginning_programmers"=>"Personal Development", "blogging"=>"Design, Art and Graphics", "brainstorming"=>"Exam Preparation", "business"=>"Specific Skills", "business_development"=>"Health & Wellbeing", "canadian visa"=>"Business and Business Development", "capital_strategy"=>"Visa support", "startup"=>"Startup", "career_advice"=>"Personal Advice from People"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "practical_expertise", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> <br>
      <%= link_to "See All", search_path(category: "practical_expertise"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>



  <div id="mini_header">
    <h6> Use the filters above to find the right guidance for you. </h6>
  </div>

  <div id="tag_search_results" style="display: none;">
    <%= render "looping_through_results" %>
  </div>

  <div class="general_results">
    <%= render "looping_through_results" %>
  </div>

  <div class="bottom_right_buttons">
    <%= link_to "Submit a request", new_user_request_path, class: "btn btn-md" %>
  </div>

</div>



