<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Guide Login", login_path, class: "btn white_border" %>
    <%= link_to "Become a Guide", signup_path, class: "btn white_border", style: "margin-left: 8px;" %>
  </div>
</div>


<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <div class="intro" style="margin-bottom: 10px;">
    <!-- Listings -->
    <br>
    <% if @category == "career_insights" %>
      <h2 style="font-size: 37px; text-align: center;"> Insights into Career Paths <span style="font-size: 11px;"> </span> </h2>    
    <% elsif @category == "practical_expertise" %>
      <h2 style="font-size: 37px; text-align: center;"> Personal Mentoring <span style="font-size: 11px;"> </span> </h2>
    <% else %>
      <h2 style="font-size: 37px; text-align: center;"> Application Help <span style="font-size: 11px;"> </span> </h2>
    <% end %>

    <div style="margin-bottom: 0px;">
      <% if @category == "career_insights" %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      
      <% if @category == "practical_expertise" %>
        <%= link_to "Personal Mentoring", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %> <!-- old color: #FFD990 -->
      <% else %>
        <%= link_to "Personal Mentoring", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>

      <% if @category == "application_help" %>
        <%= link_to "Application Help", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Application Help", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
    </div>
  </div>


  <% if @category == "application_help" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <%  {"accounting" => "Accounting","art_school" => "Art School", "oxford" => "Oxford","asset_management" => "Asset Management","audit" => "Auditing","banking" => "Banking","big4" => "Big4","biochemistry" => "Biochemistry","business_school" => "Business School","cambridge" => "Cambridge","phd" => "PhD","ucl" => "UCL" ,"world_bank" => "World Bank","wharton" => "Wharton","university_application" => "University Applications","travel_industry" => "Travel Industry","sales_careers" => "Sales","un" => "UN","scholarships" => "Scholarships","trading" => "Trading","theatre" => "Theatre","think_tanks" => "Think Tanks","product_management" => "Product Management", "politics" => "Politics","neuroscience" => "Neuroscience","teaching" => "Teaching","personal_statement" => "Personal Statements","ngos" => "NGOs","nonprofit" => "Non-profits","case_studies" => "Case Studies","management_consulting" => "Management Consulting", "mathematics" => "Mathematics","humanitarian_careers" => "Humanitarian Careers","m&a" => "M&A","mba" => "MBA","mckinsey" => "McKinsey","hospitality" => "Hospitality","hr" => "HR","life_sciences" => "Life Sciences","international_relations"=> "International Relations","investment_banking" => "Investment Banking","interviews" => "Interview Prep","finance" => "Finance","healthcare" => "Healthcare","grad_school" => "Grad School","gmat" => "GMAT","history" => "History","grande_ecoles" => "Grand Ecoles","fintech" => "Fintech","funding_applications" => "Funding Applications","fraud_investigation" => "Fraud Investigation","games_industry" => "Games Industry","economic_consulting" => "Economic Consulting","economics" => "Economics","diplomacy" => "Diplomacy", "cv" => "CV","yale" => "Yale"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "application_help", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> 
      <%= link_to "Browse all - Application Help", search_path(category: "application_help"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit personal Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>

  <% if @category == "career_insights" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"accounting"=>"Accounting", "apps"=>"Apps", "beginning_programmers"=>"Beginning Programmers", "blogging"=>"Blogging", "brainstorming"=>"Brainstorming", "business"=>"Business", "business_development"=>"Business Development", "canadian visa"=>"Canadian Visa", "capital_strategy"=>"Capital Strategy", "career_advice"=>"Career Advice", "career_change"=>"Career Change", "career_opportunities"=>"Career Opportunities", "career_start"=>"Career Start", "cfa"=>"CFA", "china"=>"China", "cima"=>"CIMA", "co_founders"=>"Co-founders", "coach"=>"Coach", "customer_acquisition"=>"Customer Acquisition", "data_analysis"=>"Data Analysis", "data_marketing"=>"Data Marketing", "developer"=>"Developer", "diet"=>"Diet", "digital_marketing"=>"Digital Marketing", "early_stage"=>"Early Stage", "enterprise_finance"=>"Enterprise Finance", "entrepreneurship"=>"Entrepreneurship", "facebook_advertising"=>"Facebook Advertising", "financial_forecasts"=>"Financial Forecasts", "financing"=>"Financing", "free_intro"=>"Free Intro", "funding"=>"Funding", "fundraising"=>"Fundraising", "graphic_design"=>"Graphic Design", "guitar"=>"Guitar", "hiring"=>"Hiring", "incorporation"=>"Incorporation", "international_students"=>"International Students", "knowledge_sharing"=>"Knowledge Sharing", "language_exams"=>"Language Exams", "lean_startup"=>"Lean Startup", "legal"=>"Legal", "linkedin"=>"LinkedIn", "london"=>"London", "m&a_team"=>"M&A team", "macros"=>"Macros", "marketing"=>"Marketing", "meditation"=>"Meditation", "mentoring"=>"Mentoring", "mindfulness"=>"Mindfulness", "mobile_apps"=>"Mobile Apps", "mobile_development"=>"Mobile Development", "musical_instrument"=>"Musical Instrument", "mvp"=>"MVP", "networking"=>"Networking", "nontech_founders"=>"Nontech Founders", "nutritionist"=>"Nutritionist", "obesity_prevention"=>"Obesity Prevention", "personal_development"=>"Personal Development", "portfolio_review"=>"Portfolio Review", "presentations"=>"Presentations", "product_development"=>"Product Development", "product_testing"=>"Product Testing", "productivity"=>"Productivity", "programming"=>"Programming", "programming_language"=>"Programming language", "quantitative_analysis"=>"Quantitative Analysis", "sales"=>"Sales", "sales_strategy"=>"Sales Strategy", "self_presentation"=>"Self Presentation", "side_projects"=>"Side Projects", "software_development"=>"Software Development", "startup"=>"Startup", "startup_accounting"=>"Startup Accounting", "startup_legal"=>"Startup Legal", "stata"=>"Stata", "stress_management"=>"Stress Management", "student_life"=>"Student Life", "tax_practices"=>"Tax Practices", "ui"=>"UI", "uni_life"=>"Uni Life", "valuation"=>"Valuation", "vba excel"=>"VBA Excel", "web applications"=>"Web-Applications", "workshop"=>"Workshop", "writing"=>"Writing", "yoga"=>"Yoga"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "practical_expertise", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> 
      <%= link_to "Browse All - Career Insights", search_path(category: "career_insights"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit personal Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>

  <% if @category == "practical_expertise" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"accounting"=>"Accounting", "apps"=>"Apps", "beginning_programmers"=>"Beginning Programmers", "blogging"=>"Blogging", "brainstorming"=>"Brainstorming", "business"=>"Business", "business_development"=>"Business Development", "canadian visa"=>"Canadian Visa", "capital_strategy"=>"Capital Strategy", "career_advice"=>"Career Advice", "career_change"=>"Career Change", "career_opportunities"=>"Career Opportunities", "career_start"=>"Career Start", "cfa"=>"CFA", "china"=>"China", "cima"=>"CIMA", "co_founders"=>"Co-founders", "coach"=>"Coach", "customer_acquisition"=>"Customer Acquisition", "data_analysis"=>"Data Analysis", "data_marketing"=>"Data Marketing", "developer"=>"Developer", "diet"=>"Diet", "digital_marketing"=>"Digital Marketing", "early_stage"=>"Early Stage", "enterprise_finance"=>"Enterprise Finance", "entrepreneurship"=>"Entrepreneurship", "facebook_advertising"=>"Facebook Advertising", "financial_forecasts"=>"Financial Forecasts", "financing"=>"Financing", "free_intro"=>"Free Intro", "funding"=>"Funding", "fundraising"=>"Fundraising", "graphic_design"=>"Graphic Design", "guitar"=>"Guitar", "hiring"=>"Hiring", "incorporation"=>"Incorporation", "international_students"=>"International Students", "knowledge_sharing"=>"Knowledge Sharing", "language_exams"=>"Language Exams", "lean_startup"=>"Lean Startup", "legal"=>"Legal", "linkedin"=>"LinkedIn", "london"=>"London", "m&a_team"=>"M&A team", "macros"=>"Macros", "marketing"=>"Marketing", "meditation"=>"Meditation", "mentoring"=>"Mentoring", "mindfulness"=>"Mindfulness", "mobile_apps"=>"Mobile Apps", "mobile_development"=>"Mobile Development", "musical_instrument"=>"Musical Instrument", "mvp"=>"MVP", "networking"=>"Networking", "nontech_founders"=>"Nontech Founders", "nutritionist"=>"Nutritionist", "obesity_prevention"=>"Obesity Prevention", "personal_development"=>"Personal Development", "portfolio_review"=>"Portfolio Review", "presentations"=>"Presentations", "product_development"=>"Product Development", "product_testing"=>"Product Testing", "productivity"=>"Productivity", "programming"=>"Programming", "programming_language"=>"Programming language", "quantitative_analysis"=>"Quantitative Analysis", "sales"=>"Sales", "sales_strategy"=>"Sales Strategy", "self_presentation"=>"Self Presentation", "side_projects"=>"Side Projects", "software_development"=>"Software Development", "startup"=>"Startup", "startup_accounting"=>"Startup Accounting", "startup_legal"=>"Startup Legal", "stata"=>"Stata", "stress_management"=>"Stress Management", "student_life"=>"Student Life", "tax_practices"=>"Tax Practices", "ui"=>"UI", "uni_life"=>"Uni Life", "valuation"=>"Valuation", "vba excel"=>"VBA Excel", "web applications"=>"Web-Applications", "workshop"=>"Workshop", "writing"=>"Writing", "yoga"=>"Yoga"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "practical_expertise", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> 
      <%= link_to "Browse All - Practical Expertise", search_path(category: "practical_expertise"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit personal Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>


  <div id="mini_header">
    <h6> Use the filters above to find the right guidance for you. </h6>
  </div>

  <div id="tag_search_results" style="display: none;">
    <%= render "looping_through_results" %>
  </div>

  <div class="general_results">
    <%= render "looping_through_results" %>
  </div>

  <div class="bottom_right_buttons">
    <%= link_to "Submit a request", new_user_request_path, class: "btn btn-md" %>
  </div>

</div>



