<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Guide Login", login_path, class: "btn white_border" %>
    <%= link_to "Become a Guide", signup_path, class: "btn white_border", style: "margin-left: 8px;" %>
  </div>
</div>


<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <div class="intro" style="margin-bottom: 10px;">
    
    <div class="btn-on-show">
      <%= link_to "What are you looking for?", new_user_request_path, class: "btn btn-md", style: "color: black;" %> <br>
    </div>

    <!-- headline -->
    <br>
    <h3 style="border: none; margin-bottom: 18px; text-decoration: underline; font-size: 29px;"> Find the right guidance for you. </h3>


    <!-- category buttons -->
    <div style="margin-bottom: 0px;">
      <% if @category == "application_help" %>
        <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      <% if @category == "career_insights" %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      <% if @category == "practical_expertise" %>
        <%= link_to "Mentoring & Support", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %> <!-- old color: #FFD990 -->
      <% else %>
        <%= link_to "Mentoring & Support", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
    </div>
  </div>

  <!-- application help --> 
  <% if @category == "application_help" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"accounting" => "Accounting","auditing" => "Auditing","art_school" => "Art School","consulting" => "Consulting", "investment_banking" => "Investment Banking", "oxford" => "Oxford","asset_management" => "Asset Management","engineering" => "Engineering","biochemistry" => "Biochemistry","business_school" => "Business School","internships" => "Internships","cambridge" => "Cambridge","phd" => "PhD","ucl" => "UCL" ,"world_bank" => "World Bank","wharton" => "Wharton","university_applications" => "University Applications","travel_industry" => "Travel Industry","sales_careers" => "Sales","scholarships" => "Scholarships","trading" => "Trading","theatre" => "Theatre","think_tanks" => "Think Tanks","product_management" => "Product Management", "politics" => "Politics","neuroscience" => "Neuroscience","teaching" => "Teaching","cover_letter" => "Cover Letter","ngos" => "NGOs","non_profits" => "Non-profits","case_studies" => "Case Studies", "mathematics" => "Mathematics","humanitarian_careers" => "Humanitarian Careers","mba" => "MBA","mckinsey" => "McKinsey","hospitality" => "Hospitality","hr" => "HR","life_sciences" => "Life Sciences","international_relations"=> "International Relations", "interviews" => "Interview Prep","finance" => "Finance","healthcare" => "Healthcare","gmat" => "GMAT","history" => "History","grande_ecoles" => "Grand Ecoles","fintech" => "Fintech","funding_applications" => "Funding","fraud_investigation" => "Fraud Investigation","games_industry" => "Games Industry","economics" => "Economics","diplomacy" => "Diplomacy", "cv" => "CV","yale" => "Yale"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "application_help", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> <br>
      <%= link_to "See All", search_path(category: "application_help"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>
  
  <!-- career insights --> 
  <% if @category == "career_insights" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"accounting"=>"Accounting", "auditing"=>"Auditing", "asset_management" => "Asset Management","investment_banking"=>"Investment Banking", "consulting"=>"Consulting", "finance" => "Finance", "theatre"=>"Theatre Careers", "heritage_and_conservation"=>"Heritage and Conservation", "non_profits"=>"Non-Profits", "humanitarian_careers"=>"Humanitarian Careers","communication" => "Communication", "postdoc_and_academic_careers"=>"Postdoc and Academic Careers", "marketing" => "Marketing", "diplomacy_and_ir"=>"Diplomacy, International Organizations & Relations", "teaching" => "Teaching","travel_industry" => "Travel Industry","hospitality" => "Hospitality", "design_art_graphics"=>"Design, Art and Graphics","product_management" => "Product Management","healthcare_sector" => "Healthcare Sector","entrepreneurship" => "Startup and Entrepreneurship","science_careers" => "Careers in Science","programming_and_development" => "Software, Development and Programming","career_change" => "Changing Careers","sales_careers" => "Sales Careers","engineering_careers" => "Engineering Careers", "freelance_translating" => "Freelance Translating","games_industry" => "Games Industry"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "career_insights", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> <br>
      <%= link_to "See All", search_path(category: "career_insights"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>

  <!-- mentoring & coaching -->
  <% if @category == "practical_expertise" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <% {"entrepreneurship"=>"Entrepreneurship", "programming_and_development"=>"Software, Development and Programming", "personal_development"=>"Personal Development", "design_art_graphics"=>"Design, Art and Graphics", "professional_exams"=>"Professional Exams", "language_exams"=>"Language Exams","marketing" => "Marketing", "side_gig" => "Side Gig", "health_and_wellbeing"=>"Health & Wellbeing", "business"=>"Business and Business Development", "visa_support"=>"Visa support", "startup"=>"Start-Up","career_coaching" => "Career Coaching", "brainstorming_partner"=> "Brainstorming Partner", "personal_career_advice"=>"Debating your Career"}.each do |tag, name| %>
        <!-- generating links --> 
        <%= link_to "#{name}", search_path(category: "practical_expertise", tag: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;", :remote => true %>
      <% end %> <br>
      <%= link_to "See All", search_path(category: "practical_expertise"), class: "btn tag-btn btn-mild-highlight" %>
      <%= link_to "Submit a Request", new_user_request_path, class: "btn tag-btn btn-mild-highlight" %>
    </div>
  <% end %>

  <!-- search results section -->
  <div id="mini_header">
  </div>

  <div id="tag_search_results" style="display: none;">
    <%= render "looping_through_results" %>
  </div>

  <div class="general_results">
    <%= render "looping_through_results" %>
  </div>

  <div class="bottom_right_buttons">
    <%= link_to "Submit a request", new_user_request_path, class: "btn btn-md" %>
  </div>

</div>



