<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "Success Stories", reviews_path %>

   <% if logged_in? %>
      <%= link_to "Logout", logout_path, style: "text-decoration: underline;" %>
      <% if current_user.profile %>
        <%= link_to "Edit Your Profile", edit_profile_path(profile_id: current_user.profile.id), class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
      <% else %>
        <%= link_to "Make Your Profile", new_profile_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
      <% end %>
    <% else %>
      <%= link_to "BECOME A GUIDE | LOGIN", signup_path, class: "btn btn-small btn-turquoise", style: "margin-left: 6px; padding: 6px 40px 5px 40px;" %>
    <% end %>
  </div>
</div>

<!--content  -->
<div class="simple_container">
  <!-- form  -->
  <h6> Easy Contact </h6>
  <div class="grey_box">
    <h3> Have a question or comment? </h3>
      <%= form_for :message, url: contact_path do |f| %>
        <%= f.text_area :user_input, placeholder: "your message" %>
        <%= f.text_field :email, placeholder: "you@gmail.com", style: "width: 100%;" %>
        <%= f.submit "Done.", id: "std-btn" %>
      <% end %>
    </div>

  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
