<!-- header -->
<div class="gl_header">
  <% if logged_in? %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Post Listing", new_listing_path %>
      <%= link_to "Manage Listings", new_listing_path %>
      <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% else %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Guide Signup", signup_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% end %>
</div>

<!--content  -->
<div class="simple_container">
  <!-- form  -->
  <h6> What are you looking for?</h6>
  <div class="grey_box">
    <h3> Let us know and we will try to find you the support and guidance you are looking for. </h3>
      <%= form_for :message, url: contact_path do |f| %>
        <%= f.text_area :user_input, placeholder: "your message" %>
        <%= f.text_field :email, placeholder: "you@gmail.com" %>
        <%= f.submit "Done.", id: "std-btn" %>
      <% end %>
    </div>

  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
