<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "What people say", reviews_path %>
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Signup", signup_path, class: "btn btn-small btn-turquoise"  %>
  </div>
</div>

<div class="simple_container">
  <!-- signup loader -->
  <div class="signup_loader">
    <%= image_tag "page-loader.gif" %>
    <p> We are processing your request. <br> One second. </p>
  </div> 

  <!-- form -->
  <div class="grey_box"> 
    <h3> Done. </h3>
    <p> Check your Email Inbox to find your retrieval link. </p>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

<!-- js -->
<script type="text/javascript">
  // fadeOut signup_loader
  $(window).load(function() {
    $(".signup_loader").delay(3850).fadeOut("slow");
  })
</script>