<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "EXPLORE LISTINGS", search_path(category: "career_insights"), class: "btn white_border" %>
    <%= link_to "BECOME A GUIDE", signup_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
  </div>
</div>

<!--content  -->
<div class="simple_container">
  <!-- form  -->
  <h6> What are you looking for? </h6>
  <div class="grey_box">
    <h3> If you can't find what you are looking for, let us know and we will try to find you the support you need. </h3>
      <%= form_for :message, url: contact_path do |f| %>
        <%= f.text_area :user_input, placeholder: "your message" %>
        <%= f.text_field :email, placeholder: "you@gmail.com", style: "width: 100%;" %>
        <%= f.submit "Done.", id: "std-btn" %>
      <% end %>
    </div>

  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
