<!-- header -->
<div class="gl_header">
  <% if logged_in? %>
    <div class="links">    
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Manage Listings", new_listing_path %>
      <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% else %>  
    <div class="links">
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", signup_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% end %>
</div> 



<div class="simple_container">
  <!-- setting background color -->
  <div class="color_background"> </div>
  <!-- new request -->
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <h6 style="text-decoration: underline;"><%= @listing.title %></h6>
  <div class="grey_box">  
    <h3> Request this Listing <span style="font-size: 11px;"></span> </h3>
    <%= form_for :request, path: create_request_path do |f| %>
      <h6>When would you be free for a session? Days? Times? In words... </h6>
      <%= f.text_area :requesting_availability, placeholder: "Availability", style: "width: 372px; height: 115px;" %>
      <h6>Your Email (so that we can get back to you)</h6>
      <%= f.text_field :requesting_email, placeholder: "Email" %>
      <%= f.hidden_field :listing_id, value: @listing_id %>
      <%= f.submit "Done." %> <br>
      <span style="font-size: 11px;">* This request is not yet a booking – we will be in touch with further details asap. </span>
    <% end %> 
  </div> 
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
