
<div class="simple_container">
  <br> <br> <br>
  <div class="grey_box">  
    <h3> Request this Listing <span style="font-size: 11px;"></span> </h3>
    <%= form_for :request, path: create_request_path do |f| %>
      <h6>When would you be free for a session? Days? Times? In words... </h6>
      <%= f.text_area :requesting_availability, placeholder: "Availability", style: "width: 372px; height: 115px;" %>
      <h6>Your Email (so that we can get back to you asap)</h6>
      <%= f.text_field :requesting_email, placeholder: "Email" %>
      <%= f.hidden_field :listing_id, value: @listing_id %>
      <%= f.submit "Done." %> <br>
      <span style="font-size: 11px;">* This request is informal. It's <b> NOT </b> binding. </span>
    <% end %> 
  </div> 
</div>