
<div class="simple_container">

  <!-- header -->
  <div class="simple_header">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Edit Profile", edit_profile_path %> |
      <%= link_to "Manage Listings", new_listing_path %>
    <% else %>  
      <%= link_to "Login", login_path %> |
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div>

  <!-- content -->
  <br> <br> <br>
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">  
    <h3>Done!</h3>
    <p> We will email you with a specific suggestion for a session (when and how) once we have coordinated with your guide. If you like, you can watch funny Youtube videos now. You've earned it ;) </p>
    <div class="button">
      <a href="https://www.youtube.com/watch?v=BtG33gP-j6E" style="background-color: orange;">Funny Cats on Youtube.</a>
    </div>
  </div> 

    <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>

</div>
