<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "Home", root_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Login", login_path %>
    <%= link_to "Signup", signup_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div>

<!--content  -->
<div class="simple_container">
  <h3> Guideligher </h3>
  <p> Guidelighter is a peer to peer marketplace for personal mentoring, advice and guidance.
  How often have you been in the situation that someone asked you for help with job or university applications or advice? If you have successfully gone through university and/or are currently in a job, chances are that you receive such requests for help a lot.</p>
  <p> On the other side of the medal: how often have you been in a situation wherein you needed help, advice or guidance? Who do you go to? Your personal network? Randomly reaching out to people on LinkedIn? Lucky if you have the network, lucky if you get the responses. We all need help at some point and we all are able to help at another. Guidelighter is the Marketplace that does just that putting you in touch with a guide, allowing you to offer your services, as a guide. </p>
  <p> We frequently publish on our blog at: <a href="http://www.guidelighter.net/" target="_blank"> www.guidelighter.net </a> </p> <br>

  <h3> Faces </h3>

  <%= image_tag "oleg.jpg" %>
  <h3> Oleg </h3>
  <p> Born in the Soviet Union, grew up in Germany, living in London. Working in finance, team-player, Karma-addict. Good at looking for trouble, better at finding solutions. Guidelighter is a brain-child that has been growing in my mind for years. It sometimes only takes the smallest of efforts to help a person in a major way. Why don’t more people do it then? Helping starts in your day to day. Let’s hack helping and raise people’s awareness of how we can make each other’s lives easier! <br> <br> I studied Politics and International Relations at Royal Holloway followed by an MPhil in International Relations at Oxford from whereon I joined Citigroup’s Corporate Banking group. I covered EMEA corporates across all industries as part of an Analyst Pool before moving into the team of Citigroup’s Portfolio Head for Global Public Sector. In that function I now cover sovereign and sovereign-owned entity risk around the world. I co-founded Guidelighter to combine my work in finance with my passion to help people fulfil their career dreams.
  </p> <br>


  <%= image_tag "suro.jpg" %>
  <h3> Suro </h3>
  <p>
    He studied BSc. (Hons.) Accounting & Finance at the University of Warwick. He has started several businesses before which include: a PowerPoint Design&Consultancy, a mobile app focused on influencing savings and an online revision notes marketplace. He has also been a guide to students and young professionals exploring career opportunities, looking to launch a start up, start a blog or share perspectives on the journey of becoming a better value investor. He is currently an analyst in the Healthcare M&A Team at Rothschild and has worked for over three years advising corporates and private equity firms on M&A and capital markets transactions in the Healthcare and Industrials sectors.
  </p> <br>


  <%= image_tag "johannes.jpg" %>
  <h3> Johannes </h3>
  <p>
    I'm the CTO of Guidelighter, the very page you are on right now. That means that I do all the programming and development work around here. Despite my role as CTO I have never set foot in a Computer Science lecture, which is something I simultaneously regret and am proud of. Instead my formal education is in Economics. I hold a Bachelor in "Economics and Management" from the University of Oxford in England. The stuff with computers I mostly taught myself through trial and error and through building things. Generally I have a wide range of interests and can pretty much be interested in anything as long as there's something to figure out. Right now I'm figuring out how to make Guidelighter great for you.
  </p>



</div>
