<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "How it works", how_path %>
    <%= link_to "Reviews", reviews_path %>
    <%= link_to "Terms & Conditions", terms_path %>
    <%= link_to "Contact Us", contact_path %>

    <%= link_to "EXPLORE", search_path(category: "career_insights"), class: "btn white_border" %>
    <% if logged_in? %>
      <%= link_to "Edit Your Profile", edit_profile_path(profile_id: current_user.profile.id), class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
    <% else %>
      <%= link_to "Become a Guide in 3 Minutes", signup_path, class: "btn white_border", style: "margin-left: 8px; padding: 5px 28px; border: 1px solid white;" %>
    <% end %>
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <h2> What Guidelighter is </h2>
  <p>   
    Guidelighter is a peer to peer marketplace for personal mentoring, advice and guidance. Firstly, Guidelighter allows you to easily share your personal experience and expertise by becoming a guide. Secondly, you can legitimately request the support of all guides for your benefit.
  </p>

  <h2> Guidelighter Team </h2>
  <h3> Oleg </h3>
  <%= image_tag "oleg.jpg" %>
  <p> Born in the Soviet Union, grew up in Germany, living in London. Working in finance, team-player, Karma-addict. Good at looking for 
  trouble, better at finding solutions. Guidelighter is a brain-child that has been growing in my mind for years. It sometimes only takes the smallest of efforts to help a person in a major way. Why don’t more people do it then? Helping starts in your day to day. Let’s hack helping and raise people’s awareness of how we can make each other’s lives easier! <br> <br> I studied Politics and International Relations at Royal Holloway followed by an MPhil in International Relations at Oxford from whereon I joined Citigroup’s Corporate Banking group. I covered EMEA corporates across all industries as part of an Analyst Pool before moving into the team of Citigroup’s Portfolio Head for Global Public Sector. In that function I now cover sovereign and sovereign-owned entity risk around the world. I co-founded Guidelighter to combine my work in finance with my passion to help people fulfil their career dreams.
  </p> <br>

  <h3> Suro </h3>
  <%= image_tag "suro.jpg" %>
  <p>
    He studied BSc. (Hons.) Accounting & Finance at the University of Warwick. He has started several businesses before which include: a PowerPoint Design&Consultancy, a mobile app focused on influencing savings and an online revision notes marketplace. He has also been a guide to students and young professionals exploring career opportunities, looking to launch a start up, start a blog or share perspectives on the journey of becoming a better value investor. He is currently an analyst in the Healthcare M&A Team at Rothschild and has worked for over three years advising corporates and private equity firms on M&A and capital markets transactions in the Healthcare and Industrials sectors.
  </p> <br>

  <h3> Johannes </h3>
  <%= image_tag "johannes.jpg" %>
  <p>
    I'm the CTO of Guidelighter, the very page you are on right now. That means that I do all the programming and development work around here. Despite my role as CTO I have never set foot in a Computer Science lecture, which is something I simultaneously regret and am proud of. Instead my formal education is in Economics. I hold a Bachelor in "Economics and Management" from the University of Oxford. The stuff with computers I mostly taught myself through trial and error. Generally I have a wide range of interests and can pretty much be interested in anything as long as there's something to figure out. Right now I'm figuring out how to make Guidelighter great for you.
  </p> <br>


  <h2> Guidelighter - What we do </h2>
  <p>   
    Guidelighter is a peer to peer marketplace for personal mentoring, advice and guidance. <br> <br> On the one hand people can share their personal advice, mentorship and guidance in a certain regard and get paid for doing so. This may involve things like career advice about their current or past profession, help with applications and CVs, general mentoring or the teaching of a specific skill. On the other hand people who are in need for such guidance, can easily and legitimately request it from the guides listed on Guideligher.
  </p> <br>

  <h2> Guidelighter - Why we do </h2>
   <p>
    When making career or university decisions, all you sometimes need is a chat with someone who has been there and has done it. You shouldn’t be in the position of not having anyone to ask such important questions. <br> <br> 

    Guidelighter is the easy way to talk to such a person. We are a marketplace for students, professionals and firms to offer their experience, coaching or any other form of career/university advice & help to those who need it right now. <br> <br>

    All of us have valuable experience that others could benefit from. Therefore on Guidelighter, everyone can become a guide and share their knowledge and experience peer to peer on their own terms and at whatever price they deem appropriate – or for free. <br> <br>

    Our goal is to make many more people share experience and many more people to access experience before making important life and career decisions. Everyone deserves their personal career guide and Guidelighter is here to give you one!"
   </p> <br>
</div>
