<div class="gl_header">
  <% if logged_in? %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Post Listing", new_listing_path %>
      <%= link_to "Manage Listings", new_listing_path %>
      <%= link_to "Admin", admin_path if Rails.env.development? %>
      <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% else %>
    <div class="links">
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "How", how_path %>
      <%= link_to "What people say", reviews_path %>

      <%= link_to "Login", login_path %>
      <%= link_to "What are you looking for?", new_user_request_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
    </div>
  <% end %>
</div>


<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <!-- Intro  -->
  <div class="intro">
    <p class="centered"> <%= notice %> </p>
    <h2 id="gl_slogan"> Personal guidance from real people <br> who care </h2>
    <div class="button">
      <% if logged_in? %>
        <%= link_to "POST A LISTING", new_listing_path, id: "hp_button" %> <br> <br>
        <div style="height: 30px;">
          <div class="fb-like" data-href="https://www.facebook.com/Guidelighter/?fref=ts" data-width="100px" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" style="padding-top: 10px;"></div>
        </div>
      <% else %>
        <%= link_to "BECOME A GUIDE", signup_path, id: "hp_button" %> <br> <br>
        <div style="height: 30px;">
          <div class="fb-like" data-href="https://www.facebook.com/Guidelighter/?fref=ts" data-width="100px" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" style="padding-top: 10px;"></div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- subheader -->
  <br> <h6> Use the categories and tags to find the right support for you. </h6>

  <!-- category_buttons -->
  <div style="margin-bottom: 12px;">
    <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "showCareerInsightsTags();", id: "insights_category" %>
    <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "showApplicationTags();", id: "applications_category" %>
    <%= link_to "Personal Mentoring", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "showPracticalExpertiseTags();", id: "practical_category" %>
  </div>

  <!-- onhover subtags -->
  <%= link_to search_path(category: "application_help") do %>
    <div class="homepage_subtags" id="application_help_subtags" style="text-align: center;">
      <% ["Art School", "Oxford & Cambridge", "Management Consulting", "Big4", "Biochemistry", "Business School", "Scholarships", "PhD", "World Bank", "Conservation & Heritage", "University Applications", "Case Studies"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> 
      <%= link_to "CLICK TO SEE ALL", search_path(category: "application_help"), class: "btn btn-lg subtag-btn more-tags-btn", style: "font-size: 11px; padding: 8px 127px; margin: 1px;" %> <br> <br>
    </div>
  <% end %>

  <!-- onhover subtags -->
  <%= link_to search_path(category: "career_insights") do %>
    <div class="homepage_subtags" id="career_insights_subtags" style="text-align: center;">
      <% ["Asset Management", "Management Consulting", "Fraud Investigation", "Neuroscience", "Travel Industry", "IR & Diplomacy", "Product Management", "Gaming Industry", "Conservation & Heritage", "Hospitality"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> 
      <%= link_to "CLICK TO SEE ALL", search_path(category: "career_insights"), class: "btn btn-lg subtag-btn more-tags-btn", style: "font-size: 11px; padding: 8px 127px; margin: 1px;" %> <br> <br>
    </div>
  <% end %>

  <!-- onhover subtags -->
  <%= link_to search_path(category: "practical_expertise") do %>
    <div class="homepage_subtags" id="practical_expertise_subtags" style="text-align: center;">
      <% ["Personal Mentoring", "Networking","Marketing and Sales Advice", "Programming & Dev. Support", "Interview Prep","TOEFL & IELTS", "Startup support", "Career Choices Aid", "CFA Tutoring", "Product Testing"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> <%= link_to "CLICK TO SEE ALL", search_path(category: "practical_expertise"), class: "btn btn-lg subtag-btn more-tags-btn", style: "font-size: 11px; padding: 8px 127px; margin: 1px;" %> <br> <br>
    </div>
  <% end %>


  <% @listings.each do |listing| %>
    <% if listing.advisor && listing.advisor.profile %>
      <%= link_to show_listing_path(listing_id: listing) do %>
        
        <div class="listing">
          <!-- Image -->
          <% unless listing.advisor.profile.nil? %>  
            <% unless listing.advisor.profile.profile_image.url.nil? %> 
                <div class="centered"> <%= image_tag listing.advisor.profile.profile_image.url %> </div>
            <% end %>
          <% end %>
          <!-- Title -->
          <% unless listing.title.empty? %>
            <div id="listing_title"> <h4> <%= listing.title %> </h4> </div>
          <% end %>
          <!-- Bottom -->
          <div id="listing_bottom"> 
            <% unless listing.price.nil? %>
              <% unless listing.price == 0 %>
              <span class="bottom">              
                <%= link_to "#{listing.advisor.first_name} #{listing.advisor.second_name[0]}. |", new_request_path(listing_id: listing.id) %>
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "#{listing.price} £ ", new_request_path(listing_id: listing.id) %>
              </span>
              <% else %>
              <span class="bottom">              
                <%= link_to "#{listing.advisor.first_name} #{listing.advisor.second_name[0]}. |", new_request_path(listing_id: listing.id) %>
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "Free", new_request_path(listing_id: listing.id) %>
              </span>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  <% end %>

  <div class="bottom_right_buttons">
    <%= link_to "What are you looking for?", new_user_request_path, class: "btn btn-md" %>
  </div>

</div>



<script type="text/javascript">
  function showApplicationTags(){
    // show subtags & hide others
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");
    $("#application_help_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#E49362");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#F5EFE6");
  };

  function showCareerInsightsTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");  
    $("#career_insights_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#E49362");
    $("#practical_category").css("background-color", "#F5EFE6");  };

  function showPracticalExpertiseTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#E49362");
  };
</script>

