<!-- header -->
<div class="gl_header">
  <% if logged_in? %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Post Listing", new_listing_path %>
      <%= link_to "Manage Listings", new_listing_path %>
      <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% else %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", signup_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% end %>
</div>

<!-- home container -->
<div class="home_container">
  <!-- backgrounds -->
  <div class="image_background"> </div>
  <div class="color_background"> </div>
  <!-- body -->
  <br>
  <div class="intro">
    <p style="text-align: center;"> <%= notice %> </p>
    <h2 style="font-size: 40px; text-align: center; font-weight: normal;"> 
      <b> Help out </b> by sharing your professional experience (and get paid for it). 
    </h2>
    <div class="button">
      <% if logged_in? %>
        <%= link_to "POST A LISTING", new_listing_path, style: "padding: 15px 52px;" %> <br> <br>
        <div class="fb-like" data-href="https://www.facebook.com/GuidelighterMP/?fref=ts" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="padding-top: 10px;"></div>
      <% else %>
        <%= link_to "BECOME A GUIDE FOR YOUR PROFESSION IN 3 MINUTES", signup_path, style: "padding: 17px 78px;", class: "btn-turquoise" %> 
        <br> <br>
         <div class="fb-like" data-href="https://www.facebook.com/GuidelighterMP/?fref=ts" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="padding-top: 10px;"></div>
      <% end %>
    </div> <br> <br> <br>
  </div>

  <h3> Personal guidance on careers, applications and life by people who care. </h3>
  <!-- <h3> Request the help you need. </h3> -->

  <!-- 
    Easily request guidance from a real person. 
    <div class="row"> 
      <div class="col-xs-4 button"> <a href="" style="background-color: ;"> Uni. Applications </a> </div>
      <div class="col-xs-4 button"> <a href="" style="background-color: ;"> Career Advice & Insights </a>  </div>
      <div class="col-xs-4 button"> <a href="" style="background-color: ;"> CV & Interview prep </a> </div>
    </div> <br> <br> <br>
  -->
  
  <% @listings.each do |listing| %>
  <!-- THIS NEEDS EDITING SO BADLY !!! -->
    <% if listing.advisor && listing.advisor.profile %>
      <a href="<%= show_listing_path(listing_id: listing.id) %>" >
        <div class="listing_on_homepage">


          <% unless listing.advisor.profile.nil? %>  
            <% unless listing.advisor.profile.profile_image.url.nil? %>  
              <div style="text-align:center;">
                <%= image_tag listing.advisor.profile.profile_image.url %>
              </div>          
            <% end %>
          <% end %>
          
          <!-- <% unless listing.advisor.first_name.nil? %>
            <div style="text-align: center;"> <%= listing.advisor.first_name %> </div>
          <% end %> <br> -->


          <% unless listing.title.empty? %>
            <div style="height: 73px;">
              <h4 style="border: none; padding: 0px 28px;"> <%= listing.title %> </h4>
            </div>
          <% end %>

          <% unless listing.price.nil? %>
            <% unless listing.price == 0 %>
              <div style="text-align:center; position: absolute; bottom: 8px; font-size: 12px;"> 
                Guide: <%= listing.advisor.first_name %> |
                <%= listing.price %> £ |
                <%= link_to "send request", new_request_path(listing_id: listing.id), class: "" %>
              </div>
             
            <% else %>
              <div style="text-align:center; position: absolute; bottom: 5px; font-size: 12px;"> 
                free 
              </div>
              <div style="text-align:center; position: absolute; bottom: 5px; right: 5px; font-size: 12px;">
                <%= link_to "Request #{listing.advisor.first_name}", new_request_path(listing_id: listing.id), class: "small_request_guide_btn" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </a>
    <% end %>
  <% end %>

  <div class="bottom_right_links">
    <%= link_to "Browse Listings by Category", root_path, class: "btn btn-small btn-turquoise", onclick: "stillInProgress();" %>
  </div>
</div>

<!-- js -->
<script type="text/javascript">
  function stillInProgress(){
    alert("This feature is being built right now. It will be online next week. We apologize for the roose.");
  }
</script>

