<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "Blog", "http://www.guidelighter.net/", target: "_blank" %> 
    <%= link_to "Get Newsletter", "/newsletter", style: "margin-right: 4px;" %>
    
    <% if logged_in? %>
      <%= link_to "Logout", logout_path, style: "text-decoration: underline;" %>
      <% if current_user.profile %>
        <%= link_to "Edit Your Profile", edit_profile_path(profile_id: current_user.profile.id), class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
      <% else %>
        <%= link_to "Make Your Profile", new_profile_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
      <% end %>
    <% else %>
      <%= link_to "BECOME A GUIDE | LOGIN", signup_path, class: "btn btn-small ", style: "margin-left: 6px; padding: 6px 40px 5px 40px; border: 1px solid white;" %>
    <% end %>    
  </div>
</div>


<div class="home_container" style="height: 1860px;">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <!-- search 
  <div class="btn-on-show">
    <input id="search_form" type="text" name="search" placeholder="type to search" onkeyup="executeSearch();" style="margin-right: 5px;" />
  </div> -->

  <!-- Intro  -->
  <div class="intro">
    <p class="centered"> <%= notice %> </p>
    <!-- <h2 id="gl_slogan"> Personal guidance from real people <br> who care </h2> -->

    <h2 id="gl_slogan"> Find and connect with the Mentors <br> who have the career you want. </h2>
    <p id="sub_slogan" style="text-align: center; font-size: 22px;"> Personal Mentoring <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i>  Applications Help <i class="fa fa-check" aria-hidden="true" style="color: #E59667;"></i> </p>

    <div class="button" style="margin-top: -30px;">    
      <div style="height: 30px;">
        <div class="fb-like" data-href="https://www.facebook.com/Guidelighter/?fref=ts" data-width="100px" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" style="padding-top: 10px;"></div>
      </div>
    </div>
    <h3 style="padding-top: 32px; padding-bottom: 1px; line-height: 1.35; font-size: 23px; text-decoration: underline; border: none;"> Use our tags to find a guide <%= link_to "or click to request a free consultation.", root_path, style: "padding: 8px 10px 8px 4px; margin-left: 0px; font-size: 18px;" %></h3> 
  </div>
  <!-- generating links --> 
  <div style="text-align: center; margin-top: -28px;">
    <% {"Management Consulting" => "consulting", "Banking & Trading" => "banking_and_trading", "Finance & Accounting" => "finance_accounting","Entrepreneurship" => "entrepreneurship", "Freelancers & Digital Nomands" => "freelancer_digital", "Programming" => "programming_development", "Product Management" => "product_management", "Marketing & Sales" => "marketing_sales", "NGOs & Politics" => "ngos_politics", "Academic Careers" => "academic_careers", "Teaching" => "teaching", "Consumer Goods industry" => "consumer_goods", "Art, Design, Theatre, Film & Graphics" => "arts", "Sciences & Engineering" => "sciences_engineering", "Hospitality & Travel" => "hospitality", "Journalism" => "journalism", "Healthcare" => "healthcare", "Personal Coaching" => "coaching", "MBA" => "mba", "Professional Examinations" => "professional_exams", "University Application Help" => "university_applications_exams"}.each do |name, category| %>
      <%= link_to "#{name}", profile_search_path(category: "#{category}"), class: "btn btn-lg tag-btn", style: "font-size: 12px; padding: 11px 17px; margin: 1px; z-index: 1000;" %>
    <% end %>
  </div> <br>

  <!-- search results, if any. -->
  <% if @search_results %>
    <h6> Find your guide below | <%= @category.capitalize %>  </h6>
    <div style="position: relative;">
      <% @search_results.each do |profile| %>
          <%= link_to show_profile_path(profile_id: profile) do %>
            <div class="listing" style="background-color: #F5EFE6;">
              <!-- Image -->
              <% unless profile.profile_image.url.nil? %> 
                  <div class="centered"> <%= image_tag profile.profile_image.url %> </div>
              <% end %>

              <!-- Name -->
              <div id="listing_name"> 
                <h4 style="margin-bottom: 16px;"> <%= profile.advisor.first_name if profile.advisor %> <%= profile.advisor.second_name[0] if profile.advisor %>. </h4>
                <h4> <%= profile.job_title if profile.job_title %> </h4>
                </h4> 
              </div>
              <!-- Bottom -->
              <div id="listing_bottom"> 
                <span class="bottom">              
                  <%= link_to "Request #{profile.advisor.first_name} | £ #{profile.advisor.profile.session_price} per session", "#" %> 
                </span>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <!-- listings -->
  <div style="position: relative;">
  <% @advisors.each do |advisor| %>
    <% if advisor && advisor.profile && advisor.listings %>

      <%= link_to show_profile_path(profile_id: advisor.profile) do %>
        <div class="listing">
          <!-- Image -->
          <% unless advisor.profile.nil? %>  
            <% unless advisor.profile.profile_image.url.nil? %> 
                <div class="centered"> <%= image_tag advisor.profile.profile_image.url %> </div>
            <% end %>
          <% end %>
          <!-- Name -->
          <div id="listing_name"> 
            <h4 style="margin-bottom: 16px;"> <%= advisor.first_name %> <%= advisor.second_name[0] %>. </h4>
            <h4> <%= advisor.profile.job_title %> </h4>
            </h4> 
          </div>
          <!-- Bottom -->
          <div id="listing_bottom"> 
            <span class="bottom">              
              <%= link_to "Request #{advisor.first_name} | £ #{advisor.profile.session_price} per session", "#" %> 
            </span>
          </div>
        </div>
      <% end %>

    <% end %>
  <% end %>
  </div>

  <!-- Bottom right -->
  <div class="bottom_right_buttons_home">
   <!-- <h6 style="text-align: center;"> Categories </h6> 
    <%= link_to "Blog", "http://www.guidelighter.net/", target: "_blank", class: "btn btn-md" %> <br>
    <%= link_to "Premium", "https://glpremium.wishpond.com/home/", class: "btn btn-md" %> <br>
    <%= link_to "Ambassadors", ambassadors_path, class: "btn btn-md", target: "_blank" %> <br> -->
  </div>

  <div class="bottom_right_buttons_home">
    <%= link_to "Can't find what you need?", new_user_request_path, class: "btn btn-md", style: "width: 208px;" %> <br>
  </div>
</div>

<div class="gl_footer" style="text-align: center; padding-top: 8px;">
  <div style="width: 700px; margin: 0px auto;">
    <%= link_to "Click to search all 189 Guides using our tags.", "", onclick: "return move_up();", style: "font-size: 26px; border: 2px solid white; padding: 18px 62px;; color: white;" %>
  </div>
</div>



<script type="text/javascript">

  function move_up() {
    location.href = "#";
    location.href = "#sub_slogan";
    return false;
  }

  function executeSearch(){
    setTimeout(function(){
      search_value = document.getElementById('search_form').value;
      find(search_value);
    }, 2100);
  }

  function showApplicationTags(){
    // show subtags & hide others
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");
    $("#application_help_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#E49362");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#F5EFE6");
  };

  function showCareerInsightsTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");  
    $("#career_insights_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#E49362");
    $("#practical_category").css("background-color", "#F5EFE6");  };

  function showPracticalExpertiseTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#E49362");
  };

</script>

