
<div class="home_container">
  
  <div class="image_background">
  </div>
  <!-- header -->
  <div class="simple_header">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Edit Profile", edit_profile_path %> |
      <%= link_to "Create Listing", new_listing_path %> |
      <%= link_to "Manage Listings", new_listing_path %>
    <% else %>  
      <%= link_to "Login", login_path %> |
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div> <br> <br> <br>

  <!-- body -->
  <p style="text-align: center;"> <%= notice %> </p>
  <h2 style="font-size: 39px; text-align: center; font-weight: normal;"> 
    Help someone out by sharing your professional experience. (and get paid for it) </h2>
  <div class="button">
    <% if logged_in? %>
      <%= link_to "POST A LISTING", new_listing_path, style: "background-color: orange; padding: 13px 45px;" %>
    <% else %>
      <%= link_to "BECOME A GUIDE", signup_path, style: "background-color: orange; padding: 13px 48px;" %>
    <% end %>
  </div> <br> <br> <br> <br>

  <h2 style="font-weight: normal";> Request advice and guidance from a real, breathing person. </h2>
  <div class="row"> 
    <div class="col-xs-4 button"> <a href="" style="background-color: orange;"> Finance / Consulting </a> </div>
    <div class="col-xs-4 button"> <a href="" style="background-color: orange;"> CV / Cover letter </a>  </div>
    <div class="col-xs-4 button"> <a href="" style="background-color: orange;"> Interview prep </a> </div>
    <!-- <div class="col-xs-4 button"> <a href=""> Career Intros </a>  </div>
    <div class="col-xs-4 button"> <a href=""> Entrepreneurship </a> </div>
    <div class="col-xs-4 button"> <a href=""> Find Internships </a> </div>-->
  </div> <br> <br>
  
  <h3> See all Guides and listings: </h3>
  <% @listings.each do |listing| %>
    <a href="<%= show_listing_path(listing_id: listing.id) %>" >
      <div class="listing_on_homepage">
        <% unless listing.title.empty? %>
          <div style="height: 73px;">
            <h4> <%= listing.title %> </h4>
          </div>
        <% end %>
        <% unless listing.advisor.profile.nil? %>  
          <% unless listing.advisor.profile.profile_image.url.nil? %>  
            <div style="text-align:center;">
              <%= image_tag listing.advisor.profile.profile_image.url %>
            </div>          
          <% end %>
        <% end %>

        <% unless listing.advisor.first_name.nil? %>
          <div style="text-align: center;"> <%= listing.advisor.first_name %> </div>
        <% end %> <br>

        <% unless listing.price.nil? %>
          <% unless listing.price == 0 %>
            <div style="text-align:center; position: absolute; bottom: 5px; font-size: 12px;"> Price: <%= listing.price %> £ </div>
          <% else %>
            <div style="text-align:center; position: absolute; bottom: 5px;"> free </div>
          <% end %>
        <% end %> <br>
      </div>
    </a>
  <% end %>

</div>
