<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "What people say", reviews_path %>
    <%= link_to "Guide Login", login_path %>
    <%= link_to "BECOME A GUIDE", signup_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
  </div>
</div>

<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>

  <!-- Intro  -->
  <div class="intro">
    <p class="centered"> <%= notice %> </p>
    <h2 id="gl_slogan"> Personal guidance from real people <br> who care. </h2>
    <div class="button">    
      <%= link_to "BECOME A GUIDE", signup_path, id: "hp_button" %> <br> <br>
      <div style="height: 30px;">
        <div class="fb-like" data-href="https://www.facebook.com/Guidelighter/?fref=ts" data-width="100px" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" style="padding-top: 10px;"></div>
      </div>
    </div>
  </div>

  <!-- subheader 
  <h3 style="padding-top: 28px;"> Find the guide and guidance you are looking for. </h3> -->

  <h3 style="padding-top: 28px; padding-bottom: 16px; text-align: center; line-height: 1.35; font-size: 22px;"> At Guidelighter you can request the help of real people who are willing to share their personal and professional expertise and experience. Browse through our guides and request the support you are looking for - or become a guide yourself. </h3>

  <!-- the threee categories -
  <div style="margin-bottom: 12px;">
    <%= link_to "Help with Applications", search_path(category: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "", id: "applications_category" %>
    <%= link_to "Insights into Career Paths", search_path(category: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "", id: "insights_category" %>
    <%= link_to "Mentoring & Support", search_path(category: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;", onmouseover: "", id: "practical_category" %>
  </div> -->


  <!-- onhover subtags
  <%= link_to search_path(category: "application_help") do %>
    <div class="homepage_subtags" id="application_help_subtags" style="text-align: center;">
      <% ["Investment Banking", "Consulting", "University Application"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> ........ Click to see all categories and tags.
    </div>
  <% end %>  -->

  <!-- onhover subtags 
  <%= link_to search_path(category: "career_insights") do %>
    <div class="homepage_subtags" id="career_insights_subtags" style="text-align: center;">
      <% ["Investment Banking", "Consulting", "Non-Profits"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> ........ Click to see all categories and tags.
    </div>
  <% end %> -->

  <!-- onhover subtags 
  <%= link_to search_path(category: "practical_expertise") do %>
    <div class="homepage_subtags" id="practical_expertise_subtags" style="text-align: center;">
      <% ["Entrepreneurship", "Exam Preparation", "Brainstorming Partner"].each do |title| %>
        <div class= "btn btn-lg subtag-btn" style= "font-size: 11px; padding: 8px 10px; margin: 1px;"> 
          <%= title %>
        </div>
      <% end %> ........ Click to see all categories and tags.
    </div>
  <% end %> -->


  <!-- listings -->
  <% @advisors.each do |advisor| %>
    <% if advisor && advisor.profile && advisor.listings %>

      <%= link_to show_profile_path(profile_id: advisor.profile) do %>
        <div class="listing">
          <!-- Image -->
          <% unless advisor.profile.nil? %>  
            <% unless advisor.profile.profile_image.url.nil? %> 
                <div class="centered"> <%= image_tag advisor.profile.profile_image.url %> </div>
            <% end %>
          <% end %>
          <!-- Name -->
          <div id="listing_name"> 
            <h4 style="margin-bottom: 16px;"> <%= advisor.first_name %> <%= advisor.second_name[0] %>. </h4>
            <h4> <%= advisor.profile.job_title %> </h4>
            </h4> 
          </div>
          <!-- Bottom -->
          <div id="listing_bottom"> 
            <span class="bottom">              
              <%= link_to "Request #{advisor.first_name} |£ #{advisor.profile.session_price} a session", "#" %> 
            </span>
          </div>
        </div>
      <% end %>

    <% end %>
  <% end %>

  <div class="bottom_right_buttons_home">
   <h6 style="text-align: center;"> Find </h6>
    <%= link_to "Mentoring", search_path(category: "practical_expertise"), class: "btn btn-md" %> <br>
    <%= link_to "Career Help", search_path(category: "career_insights"), class: "btn btn-md" %> <br>
    <%= link_to "Applications", search_path(category: "application_help"), class: "btn btn-md" %> <br>
  </div>

</div>


<script type="text/javascript">
  function showApplicationTags(){
    // show subtags & hide others
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");
    $("#application_help_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#E49362");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#F5EFE6");
  };

  function showCareerInsightsTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#practical_expertise_subtags").css("display", "none");  
    $("#career_insights_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#E49362");
    $("#practical_category").css("background-color", "#F5EFE6");  };

  function showPracticalExpertiseTags(){
    // show subtags & hide others
    $("#application_help_subtags").css("display", "none");
    $("#career_insights_subtags").css("display", "none");
    $("#practical_expertise_subtags").fadeIn(500);
    // colorize button & normalize others
    $("#applications_category").css("background-color", "#F5EFE6");
    $("#insights_category").css("background-color", "#F5EFE6");
    $("#practical_category").css("background-color", "#E49362");
  };
</script>

