

<div class="home_container">
  <!-- header -->
  <div class="simple_header">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path %> |
      <%= link_to "Edit Profile", edit_profile_path %> |
      <%= link_to "Manage Listings", new_listing_path %>
    <% else %>  
      <%= link_to "Login", login_path %> |
      <%= link_to "Signup", signup_path %>
    <% end %>
  </div>

  <br> <br> <br>

  <!-- body -->
  <p style="text-align: center;"> <%= notice %> </p>
  <h2 style="font-size: 38px; text-align: center;"> Offer your personal advice, guidance and expertise to those who need it. </h2>

  <div class="button">
    <%= link_to "BECOME A GUIDE", signup_path, style: "background-color: orange; padding: 13px 45px;" %>
  </div> <br> <br> <br>

  <!-- <h3> How it works </h3>
  <ol>
    <li> create simple listings stating what you offer </li>
    <li> wait until your offer gets booked </li>
    <li> help out, get paid & be happy </li> 
  </ol> <br>
  <h3> Book a session: </h3> -->
  <h3> Find your guide: </h3>


  <div class="row"> 

  <!--  <div class="col-xs-4 button"> <a href=""> Oxbridge Interview help </a> </div>
    <div class="col-xs-4 button"> <a href=""> Personal Teaching </a>  </div>
    <div class="col-xs-4 button"> <a href=""> Industry Insights </a> </div>

    <div class="col-xs-4 button"> <a href=""> Career Advice </a>  </div>
    <div class="col-xs-4 button"> <a href=""> Consulting / I-Banking </a> </div>
    <div class="col-xs-4 button"> <a href=""> Product Testers </a> </div> -->


    <div class="col-xs-4 button"> <a href=""> Finance / Consulting </a> </div>
    <div class="col-xs-4 button"> <a href=""> CV / Cover letter </a>  </div>
    <div class="col-xs-4 button"> <a href=""> Interview prep </a> </div>

    <div class="col-xs-4 button"> <a href=""> Career Intros </a>  </div>
    <div class="col-xs-4 button"> <a href=""> Entrepreneurship </a> </div>
    <div class="col-xs-4 button"> <a href=""> Find Internships </a> </div>



  </div> <hr>
  
  <h3> All Guides and their offers: </h3>

  <% @listings.each do |listing| %>
    <a href="<%= show_listing_path(listing_id: listing.id) %>" >
      <div class="listing_on_homepage">
        <% unless listing.title.empty? %>
          <div style="height: 85px;">
            <h4> <%= listing.title %> </h4>
          </div>
        <% end %>
        <% unless listing.advisor.profile.nil? %>  
          <% unless listing.advisor.profile.profile_image.url.nil? %>  
            <%= image_tag listing.advisor.profile.profile_image.url %>
          <% end %>
        <% end %> <br>

        <% unless listing.advisor.first_name.nil? %>
          <div style="text-align: center; font-weight: bold;"> guide: <%= listing.advisor.first_name %> </div>
        <% end %> <br>

        <% unless listing.price.nil? %>
          <div style="text-align:center; position: absolute; bottom: 3px;"> Price: <%= listing.price %> € </div>
        <% end %> <br>
      </div>
    </a>
  <% end %>

</div>

<br> <br> <br> <br>