<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "Home", root_path %>
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "Login", login_path %>
    <%= link_to "Signup", signup_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div>

<!--content  -->
<div class="simple_container">
  <h2 style="text-decoration: underline;"> How Guidelighter works </h2>
  <h6> In short </h6>
  <p>   
    Guidelighter is a peer to peer marketplace for personal mentoring, advice and guidance. On the one hand people can offer their personal help and advice in a certain regard (applications, career advice, teaching etc.). Such people are guides and you can signup to be one to share your professional experience is a hassle-free and effective way. On the other hand people can request the guidance of such guides and thereby systematically and legitimately get the guidance that they need from a real, caring person, who is doing what they aspire to.
   </p> <br>

  <h2 style="text-decoration: underline;"> FAQs </h2>
  <h3> FAQs for Guides (offering advice) </h3>
  <p class="faq_question">  How much should I charge? </p>
  <div class="faq_answer" > This is entirely up to you and what you feel your time and listing are worth. A good indicator would normally be to compare yourself to similar listings on the marketplace. But there is no right or wrong price as it depends entirely on you! </div>
 
  <p class="faq_question"> Does my work contract permit me to be a guide on Guidelighter? </p>
  <div class="faq_answer"> If in doubt we encourage you to check with your employer. In certain cases, you may need your employers’ permission to discuss your company’s application process. What we would advise in such cases would be to focus on your other experience not linked to your particular employer (university or industry related). </div>
 
  <p class="faq_question"> Is there any type of information I should not share with my mentee or could there be any compliance issues in general? </p>
  <div class="faq_answer"> As per our Terms & Conditions, you are not allowed to share any confidential and non-public information with any user. </div>

  <p class="faq_question"> Are there any experiences or listings I should not share? </p>
  <div class="faq_answer"> Guidelighter is currently focusing on career, entrepreneurship and university application advice. You should only post listings that can broadly be included under these topics. Should any listings be posted that are completely outside of these areas, we will contact the respective guide and ultimately reserve the right to remove such listings. </div>
 
  <p class="faq_question"> How should I report any earnings I make on Guidelighter for tax purposes? </p>
  <div class="faq_answer"> Any earnings you make through Guidelighter would be considered self-employed income. Different countries have different thresholds for such income before you must pay taxes. We recommend you check with your country’s respective tax authorities if in doubt. </div>
 
  <p class="faq_question"> How should I communicate with my Mentee? </p>
  <div class="faq_answer"> The initial communication is usually made via email. You can communicate with a user once the user has completed a payment and as long as the guidance is ongoing. We encourage guides and users to agree on the most convenient form of communication for both sides be it a coffee meeting, internet-video chat or email exchange. Guidelighter will include on-platform communication in a later version. </div>
 
  <p class="faq_question"> My Profession is X – can I still sign up as a Guide? </p>
  <div class="faq_answer"> Yes! We firmly believe in the principle that every experience that you have may be valuable to someone else. </div>

  <p class="faq_question"> I would like to donate my earnings to charity. Can I do this via Guidelighter? </p>
  <div class="faq_answer"> A later version of Guidelighter will include an integration of Justgiving to give you the option to directly choose a charity you would like to support. Until then we would ask you to drop us an email at founders@guidelighter.com indicating your wish for your earnings to go to a charity of your choice and we will ensure that any earnings you make are immediately transferred over. </div>
  
  <p class="faq_question"> How do I get paid? </p>
  <div class="faq_answer"> Once your guidance session is completed, we will transfer your earnings across to you immediately subject to a 15% Guidelighter charge and any PayPal payment processing fees. </div>
 

  <h3> FAQs for Users (requesting advice) </h3>
  <p class="faq_question"> What if my guide does not respond to me? </p>
  <div class="faq_answer"> 
    Many of our guides are extremely busy people so you might want to give them a few days to get in touch. They will be receiving email reminders about your request. Should you still not hear from your guide within one week of making the payment, we would ask you to send us an email on founders@guidelighter.com and we will help you resolve any existing issue.
   </div>   

  <p class="faq_question"> How should I approach my guide? </p>
  <div class="faq_answer"> 
    We will put you in touch via email and suggest you take it from there. We suggest that you then agree on the best form of communication (coffee, call, email or whatever you feel is most appropriate) directly with your guide. And don’t worry – our guides are nice people! ;-)
   </div>   

  <p class="faq_question"> I am not satisfied with my Guide – what should I do? </p>
  <div class="faq_answer"> 
    Share a review with us to highlight the areas of the guidance you were not satisfied with. If you feel that anything happened that we should know about, please email us on founders@guidelighter.com
   </div>   

  <p class="faq_question"> The experience I am looking for is not available on Guidelighter, is there anything you can do? </p>
  <div class="faq_answer"> 
    Sorry about that. Do let us know what you are looking for and we will see what we can do. As Guidelighter is growing, make sure to come back again to check our growing list of guides and experiences on offer.
  </div>

  <h3> FAQs - General </h3>
  <p class="faq_question"> In which countries is Guidelighter available? </p>
  <div class="faq_answer"> 
    Guidelighter is not geographically limited and regardless where you are based are welcome to post listings or request guides.
   </div>   
  <p class="faq_question"> How long is a session? </p>
  <div class="faq_answer"> 
    It depends. We encourage Guides to provide a detailed overview of what they will be offering in their listing to avoid any misunderstanding. However, we do not believe that mentoring or any form of experience sharing should be sold by the clock so hence a session is as long as the Guide specifies and/or as long as needed.
   </div>   
  <p class="faq_question"> Shouldn’t career advice and guidance be free of charge? </p>
  <div class="faq_answer"> 
    There are free listings on Guidelighter but ultimately, our goal is to raise the game in terms of access to career and university application advice for everyone and for that busy professionals need to have certain incentives. It also helps for guidance-seekers to demonstrate some commitment for the valuable advice they receive.
  </div>
</div>
