<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "About Us", about_path %>
    <%= link_to "How it works", how_path %>
    <%= link_to "Terms & Conditions", terms_path %>
    <% if logged_in? && current_user.profile? %>
      <%= link_to "Edit Your Profile", edit_profile_path(profile_id: current_user.profile.id), class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
    <% else %>
      <%= link_to "Become a Guide in 3 Minutes", signup_path, class: "btn white_border", style: "margin-left: 8px; padding: 5px 28px; border: 1px solid white;" %>
    <% end %>
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <h2> What people say </h2> <br>

  <p> "My objective was to understand more about the consulting industry; what are some of the tasks graduates will be doing, how's the work-life balance and application process, particularly case interviews. Gergely has definitely helped in answering questions that I have!” <br>
  Ryan O. </p> <hr>

  <p> “I have just had the telephone meeting with Jonathan and it has been really helpful.I have been given an overview of the sector in which I am interested, along with some specifics of the currently developed projects to get a further insight. I have been answered very accurately to all my questions and the main doubts that I had. Thank you so much.” <br> Antonio A. </p> <hr>

  <p> "Oleg was incredibly helpful in advising me on working in finance. He put me in touch with a number of senior bankers at a Bulge Bracket institution that led to meetings and interviews, which will hopefully result in a job in finance." <br> Oz J. </p> <hr>

  <p> “I met Suro after reaching out to him on LinkedIn. I wanted to learn more about investment banking and because he was a 2nd year analyst at Citigroup at the time I knew he could help. Suro agreed to do a quick call which turned out to be incredibly fruitful. Not only did I end up with over 2 pages of notes, but Suro also took the time to look up an M&A deal I was interested in and send me a carve out from merger market (an M&A intelligence service). What's even more important is that we since became great friends and continue to support each other as we are climbing the financial services career ladder!” <br> Ilja M. </p> <hr>

  <p> "Suro and I met during university and maintained contact after graduating.

  I was looking to transition to investment banking after qualifying as an accountant with a Big 4 firm. Suro was the first person I had in mind to reach out to and has helped me from the start of the process (CV help) right to the end goal – an analyst position within a bulge bracket investment banking department.
   
  Suro was selfless in sacrificing time to mentor me and every response he gave was detailed, informed and exactly what I needed to stand out.
   
  His approach to interview practice was fantastic. Rather than making me parrot answers to scenarios and questions, Suro forced me to think on my feet and develop my interview technique. Over time and practice, he helped me to develop the confidence that interviewers love to see. Additionally, he also directed me to various resources, such as IBankingFAQ, to help me study.
   
  His knowledge of the industry is superb. It really felt like I was getting an insider’s view of the industry and, from my interview feedback, this impressed my interviewers. Thanks Suro!" <br> Musa I. </p> <hr>

  <p> "I met Oleg Giberstein through LinkedIn. As we both studied international Relations I wanted to get some advice regarding breaking into the investment banking industry. Oleg provided valuable advice and gave me an insight into Citi’s private bank and corporate bank." <br> Omar S. </p> <hr>

  <p> "Very quickly and despite working in a very different field, Oleg knew exactly who to put me in touch with. His network is not limited to the banking sector and is impressively diverse, multicultural and international." <br>
  Thaison D. </p>
</div>
