<% @listings.each do |listing| %>
  <% if listing.advisor && listing.advisor.profile %>
    <%= link_to show_listing_path(listing_id: listing) do %>
        <div class="listing">
          <% unless listing.advisor.profile.nil? %>  
            <% unless listing.advisor.profile.profile_image.url.nil? %> 
                <div class="centered"> <%= image_tag listing.advisor.profile.profile_image.url %> </div>
            <% end %>
          <% end %>
          <% unless listing.title.empty? %>
            <div id="listing_title"> <h4> <%= listing.title %> </h4> </div>
          <% end %>
          <div id="listing_bottom"> 
            <% unless listing.price.nil? %>
              <% unless listing.price == 0 %>
                <%= listing.advisor.first_name %> <%= listing.advisor.second_name[0] %>. |
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "#{listing.price} £ ", new_request_path(listing_id: listing.id) %>
              <% else %>
                <%= listing.advisor.first_name %> <%= listing.advisor.second_name[0] %>. |
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "Free", new_request_path(listing_id: listing.id) %>
              <% end %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
<% end %>
