<div class="gl_header">
  <% if logged_in? %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Edit Profile", edit_profile_path %>
      <%= link_to "Post Listing", new_listing_path %>
      <%= link_to "Manage Listings", new_listing_path %>
      <%= link_to "Admin", admin_path if Rails.env.development? %>
      <%= link_to "Logout", logout_path, class: "btn btn-small btn-turquoise" %>
    </div>
  <% else %>
    <div class="links">
      <%= link_to "What people say", reviews_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Contact Us", contact_path %>
      <%= link_to "How It Works", how_path %>
      <%= link_to "Login", login_path %>
      <%= link_to "Admin", admin_path if Rails.env.development? %>
      <%= link_to "Guide Signup", signup_path %>
      <%= link_to "What are you looking for?", new_user_request_path, class: "btn btn-small btn-turquoise", style: "margin-left: 18px;" %>
    </div>
  <% end %>
</div>


<div class="home_container">
  <div class="image_background"> </div>
  <div class="color_background"> </div>


  <div class="intro" style="margin-bottom: 10px;">
    <!-- Listings -->
    <br>
    <% if @search == "application_help" %>
      <h2 style="font-size: 34px; text-align: center;"> Help with your Application <span style="font-size: 11px;"> </span> </h2>
    <% elsif @search == "career_insights" %>
      <h2 style="font-size: 34px; text-align: center;"> Insights into Career Paths <span style="font-size: 11px;"> </span>  </h2>
    <% else %>
      <h2 style="font-size: 34px; text-align: center;"> Practical Expertise Offers <span style="font-size: 11px;"> </span>  </h2>
    <% end %>

    <div style="margin-bottom: 0px;">
      <% if @search == "application_help" %>
        <%= link_to "Help with your Application", find_listings_path(search: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Help with your Application", find_listings_path(search: "application_help"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>

      <% if @search == "career_insights" %>
        <%= link_to "Insights into Career Paths", find_listings_path(search: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %>
      <% else %>
        <%= link_to "Insights into Career Paths", find_listings_path(search: "career_insights"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
      
      <% if @search == "practical_expertise" %>
        <%= link_to "Practical Expertise Offers", find_listings_path(search: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%; background-color: #E49362;" %> <!-- old color: #FFD990 -->
      <% else %>
        <%= link_to "Practical Expertise Offers", find_listings_path(search: "practical_expertise"), class: "btn btn-lg tag-btn", style: "width: 33%;" %>
      <% end %>
    </div>
  </div>

  <% if @search == "application_help" %>
    <div class="subtags_on_searchpage" style="text-align: center;">
      <%  {"accounting" => "Accounting","art" => "Art","art_school" => "Art School","asset_management" => "Asset Management","audit" => "Auditing","banking" => "Banking","big4" => "Big4","biochemistry" => "Biochemistry","business_school" => "Business School","cambridge" => "Cambridge","phd" => "PhD","ucl" => "UCL" ,"world_bank" => "World Bank","wharton" => "Wharton","university_application" => "University Applications","travel_industry" => "Travel Industry","sales_careers" => "Sales","un" => "UN","scholarships" => "Scholarships","trading" => "Trading","theatre" => "Theatre","think_tanks" => "Think Tanks","product_manager" => "Product Management", "politics" => "Politics","neuroscience" => "Neuroscience","teacher" => "Teaching","personal_statement" => "Personal Statements","psychotherapy" => "Personal Statements","ngos" => "NGOs","nonprofit" => "Non-profits", "oxford" => "Oxford","case_studies" => "Case Studies","Management_Consulting" => "Management Consulting", "mathematics" => "Mathematics","humanitarian_careers" => "Humanitarian Careers","m&a" => "M&A","mba" => "MBA","mckinsey" => "McKinsey","hospitality" => "Hospitality","hr" => "HR","life_sciences" => "Life Sciences","international_relations"=> "International Relations","investment_banking" => "Investment Banking","interviews" => "Interview Prep","finance" => "Finance","healthcare" => "Healthcare","grad_school" => "Grad School","gmat" => "GMAT","history" => "History","grande_ecoles" => "Grand Ecoles","fintech" => "Fintech","food_science" => "Food Science","funding_applications" => "Funding Applications","fraud_investigations" => "Fraud Investigation","games_industry" => "Games Industry","economic_consulting" => "Economics Consulting","economics" => "Economics","diplomacy" => "Diplomacy","corporate_finance" => "Corporate Finance","cv" => "CV","yale" => "Yale"}.each do |tag, name| %>
        <!-- generating links -->
        <%= link_to "#{name}", find_listings_path(search: "#{tag}"), class: "btn btn-lg tag-btn", style: "font-size: 11px; padding: 8px 10px; margin: 1px; z-index: 1000;" %>
      <% end %> 
      <%= link_to "ALL", find_listings_path(search: "many"), class: "btn btn-lg subtag-btn more-tags-btn", style: "font-size: 11px; padding: 8px 110px; margin: 1px; background-color: #E49362" %>

    </div>
  <% end %>






  <% @listings.each do |listing| %>
    <% if listing.advisor && listing.advisor.profile %>
      <%= link_to show_listing_path(listing_id: listing) do %>
        
        <div class="listing">
          <!-- Image -->
          <% unless listing.advisor.profile.nil? %>  
            <% unless listing.advisor.profile.profile_image.url.nil? %> 
                <div class="centered"> <%= image_tag listing.advisor.profile.profile_image.url %> </div>
            <% end %>
          <% end %>
          <!-- Title -->
          <% unless listing.title.empty? %>
            <div id="listing_title"> <h4> <%= listing.title %> </h4> </div>
          <% end %>
          <!-- Bottom -->
          <div id="listing_bottom"> 
            <% unless listing.price.nil? %>
              <% unless listing.price == 0 %>
                <%= listing.advisor.first_name %> <%= listing.advisor.second_name[0] %>. |
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "#{listing.price} £ ", new_request_path(listing_id: listing.id) %>
              <% else %>
                <%= listing.advisor.first_name %> <%= listing.advisor.second_name[0] %>. |
                <%= link_to "Send Request |", new_request_path(listing_id: listing.id) %>
                <%= link_to "Free", new_request_path(listing_id: listing.id) %>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  <% end %>
</div>