<div class="gl_header"> 
  <div class="links">
    <%= link_to "Tagging", tagging_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Managing Advisors | <%= link_to "Tags", tagging_path, class: "btn btn-md" %> </h2> <br>

  <div style="font-size: 19px;"> 
    <span style="text-decoration: underline;"> Metrics </span> <br>
    Total Listings: <%= @listings_count %> <br> 
    Advisors with Listings: <%= @advisors_with_listings %> <br>
    Advisors without Listings: <%= @all_advisors.count - @advisors_with_listings %> <br>
  </div> <br> <br>

  <% @all_advisors.each do |adv| %>
    <p> 
      <%= link_to "https://www.google.com/search?q=#{adv.first_name}+#{adv.second_name}", target: "_blank" do %>
        <%= adv.first_name %> <%= adv.second_name %> <br>
      <% end %>
      <% if adv.profile.nil? %>
        profile: no <br>
      <% else %>
        profile: yes <br>
      <% end %>
      <!-- listings: <%= adv.listings.count %> <br> -->
      <%= link_to "edit", advisors_resources_path(advisor_id: adv.id) %> <br>
      <%= link_to "delete", admin_destroy_advisor_path(advisor_id: adv.id), method: :delete, data: { confirm: "Destroy this Advisor? The advisor's profile and listings will be destroyed with it." } %>
    </p>
    <br>
  <% end %>
</div>
