<div class="gl_header"> 
  <div class="links">
    <%= link_to "Tagging", tagging_path %>
    <%= link_to " Admin", admin_path %>
  </div>
</div>

<div class="simple_container">
  <h6> <%= @profile.advisor.first_name %> <%= @profile.advisor.second_name %> - Editing Profile</h6>
  <div style="text-align: center;"> <%= image_tag @profile.profile_image.url, style: "height: 100px; width: auto;" %> </div> <br>

  <%= form_for @profile, url: admin_update_profile_path(profile_id: @profile.id) do |f| %>
    <h6> Description </h6>
    <%= f.text_area :description, style: "height: 205px;" %> 
    <h6> Job Title / Profession </h6>
    <%= f.text_field :job_title, style: "margin-top: 5x; margin-bottom: 5px;" %> 
    <h6> Image </h6>
    <%= f.file_field :profile_image %>
    <%= f.submit "Update." %>
  <% end %> <br> <br>

  <div>
    <h5> Guide's Listings - for incorporation into profiles. </h5> <br>
    <% if @profile.advisor.listings.any? %>
      <% @profile.advisor.listings.each do |list| %>
        <div> <%= list.description %> </div> <br> <br>
      <% end %>
    <% end %>
  </div>
</div>
