<div class="gl_header"> 
  <div class="links">
    <%= link_to "Tagging", tagging_path %>
    <%= link_to " Admin", admin_path %>
  </div>
</div>

<div class="simple_container">
  <div> <%= image_tag @profile.profile_image.url, style: "height: 100px; width: auto;" %> </div> <br>
  <h4> Editing - <%= @profile.advisor.first_name %> <%= @profile.advisor.second_name %>'s Profile </h4>
  <%= form_for @profile, url: admin_update_profile_path(profile_id: @profile.id) do |f| %>
    
    <h6> Description </h6>
    <%= f.text_area :description, style: "height: 205px;" %> 
    <h6> Image </h6>
    <%= f.file_field :profile_image %> <br>
    <h6> Headline / In a Nutshell </h6>
    <%= f.text_field :job_title, style: "margin-top: 5x; margin-bottom: 5px;" %> 
    <hr style="background-color: lightgrey;">

    <h6> Selection of Offers </h6>
    <h6> <%= f.check_box :application_help %> Applications </h6>
    <h6> <%= f.check_box :career_insights_help %> Career insight </h6>
    <h6> <%= f.check_box :mentoring_help %> Mentoring </h6>
    <h6> <%= f.check_box :general_help %> General </h6>
    <hr style="background-color: lightgrey;">

    <% if @profile.max_no_of_session %> 
      <h6> <%= @profile.max_no_of_session %> is set as the current value. (undefined = I don't mind) <br> Only select a button if you want to change this. </h6>
    <% else %>
      <h6> Maximum Number of Sessions </h6>
    <% end %>
    <%= f.radio_button :max_no_of_session, "2", class: "max_sessions", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 2 per week </span> <br>
    <%= f.radio_button :max_no_of_session, "1", class: "max_sessions", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 1 per week </span> <br>
    <%= f.radio_button :max_no_of_session, "0.5", class: "max_sessions", style: "margin-bottom: 9px;" %> <span style="margin-left: 4px;"> 1 every 2 weeks </span> <br>
    <%= f.radio_button :max_no_of_session, "undefined", class: "max_sessions" %> <span style="margin-left: 4px;"> I don't mind </span>
    <hr style="background-color: lightgrey;">

    <% if @profile.session_price %>
      <h6> <%= @profile.session_price %> is set as the current value. <br> Only select a button or type a new value if you want to change this. </h6>
    <% else %>
      <h6> Price per session </h6>
    <% end %>
    <p style="font-size: 14px; margin-top: 5px; cursor: pointer; margin-bottom: 3px; text-decoration: underline;" onclick="showSet();"> reset </p>
    <%= f.number_field :session_price, id: "set_yourself", style: "height: 28px; width: 60px; margin-bottom: 3px;" %> <br> <span style="text-decoration: underline;"> choose new </span> <br>
    <%= f.radio_button :session_price, 15, class: "session_price", id: "session_price" %> £ 15  <br>
    <%= f.radio_button :session_price, 20, class: "session_price" %> £ 20 <br>
    <%= f.radio_button :session_price, 25, id: "default_checked", class: "session_price" %> £ 25 <br>
    <%= f.radio_button :session_price, 20, class: "session_price" %> £ 30 <br>
    <%= f.radio_button :session_price, 30, class: "session_price"%> £ 35 <br>

    <!-- submit -->      
    <%= f.submit "Update." %>
  <% end %> <br> <br>

  Listing prices if any: <br>
  <% if @profile.advisor.listings.any? %>
    <% @profile.advisor.listings.each do |list| %>
      <span> <%= list.price %>, </span>
    <% end %>
  <% end %>

  <br> <br> <br>

  <div>
    <h5> Complete Listings - for incorporation into profiles: </h5> <br>
    <% if @profile.advisor.listings.any? %>
      <% @profile.advisor.listings.each do |list| %>
        <div> <%= list.description %> </div> <br> <br>
      <% end %>
    <% end %>
  </div>
</div>

<!-- js -->      
<script type="text/javascript">
  
  // avoid prechecked radio buttons when value is already set
  <% if @profile.max_no_of_session %>
    $('.max_sessions').removeAttr("checked");
  <% end %>

  // avoid prechecked radio buttons when value is already set
  <% if @profile.session_price %>
    $('.session_price').removeAttr("checked");
  <% end %>


  // uncheck radio buttons when number field has focus
  $('#set_yourself').focus(function () {
    $('.session_price').removeAttr("checked");
  });

  // uncheck radio buttons when number field has a value
  if($('#set_yourself').val().length != 0){
    $('.session_price').removeAttr("checked");
  }

  // blanking number field when radio button is checked
  $(".session_price").change(function(){
    $("#set_yourself").val('');
  });
</script>

