<div class="gl_header"> 
  <div class="links">
    <%= link_to "Tags", admin_general_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Managing Advisors | <%= link_to "Tag Management", admin_general_path, class: "btn btn-md" %> </h2> <br>
  <% @all_advisors.each do |adv| %>
    <p> 
      <%= link_to "https://www.google.com/search?q=#{adv.first_name}+#{adv.second_name}", target: "_blank" do %>
        <%= adv.first_name %> <%= adv.second_name %> - search. <br>
      <% end %>
      <%= adv.email %> <br>
      <% if adv.profile.nil? %>
        profile: 0 <br>
      <% else %>
        profile: 1 <br>
      <% end %>
      listings: <%= adv.listings.count %> <br>
      <%= link_to "see and edit", advisor_overview_path(advisor_id: adv.id) %> <br>
      <%= link_to "delete", admin_destroy_advisor_path(advisor_id: adv.id), method: :delete, data: { confirm: "Destroy this Advisor? The advisor's profile and listings will be destroyed with it." } %>
    </p>
    <br>
  <% end %>
</div>
