<div class="gl_header"> 
  <div class="links">
    <%= link_to "Advisors Mgmt", advisors_mgmt_path %>
    <%= link_to "Profiles Mgmt", profiles_mgmt_path %>
    <%= link_to "Listings Mgmt", listings_mgmt_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Managing Advisors </h2> <br>
  <% @all_advisors.each do |adv| %>
    <p> 
      <%= adv.first_name %> <%= adv.second_name %> <br>
      <%= adv.email %> <br>
      <% if adv.profile.nil? %>
        Profile: 0. <br>
      <% else %>
        Profile: 1. <br>
      <% end %>


      <%= link_to "Delete Advisor", admin_destroy_advisor_path(advisor_id: adv.id), method: :delete, data: { confirm: 'Sure? Profile and Listings of this user will be destroyed as well.' } %> 
    </p>
    <br>
  <% end %>
</div>
