<div class="gl_header"> 
  <div class="links">
    <%= link_to "Advisors Mgmt", advisors_mgmt_path %>
    <%= link_to "Profiles Mgmt", profiles_mgmt_path %>
    <%= link_to "Listings Mgmt", listings_mgmt_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Managing Advisors </h2> <br>
  <% @all_advisors.each do |adv| %>
    <p> 
      <%= link_to "https://www.google.com/search?q=#{adv.first_name}+#{adv.second_name}", target: "_blank" do %>
        <%= adv.first_name %> <%= adv.second_name %> - search. <br>
      <% end %>
      <%= adv.email %> <br>
      <% if adv.profile.nil? %>
        Profile: 0 <br>
      <% else %>
        Profile: 1 <br>
      <% end %>
      Listings: <%= adv.listings.count %> <br>
      <%= link_to "delete -", admin_destroy_advisor_path(advisor_id: adv.id), method: :delete, data: { confirm: "Destroy this Advisor? The advisor's profile and listings will be destroyed with it." } %> 
      <%= link_to "edit", root_path %>


    </p>
    <br>
  <% end %>
</div>
