<div class="gl_header"> 
  <div class="links">
    <%= link_to "Advisors Mgmt", advisors_mgmt_path %>
    <%= link_to "Profiles Mgmt", profiles_mgmt_path %>
    <%= link_to "Listings Mgmt", listings_mgmt_path %>
  </div>
</div>

<div class="simple_container">  
  <h2>Admin Area - Listings Mgmt</h2> <br>
  <% @all_listings.each do |list| %>
    <h4> <%= list.title %> </h4>
    <p> <%= list.description %> </p> 
    <p> by <%= list.advisor.first_name if list.advisor %> <%= list.advisor.second_name if list.advisor 
    %> </p> 
    <p> <%= link_to "Edit |", "#" %> <%= link_to "Delete", "#" %> </p> <br> <hr>
  <% end %>
</div>
