<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_path, class: "btn btn-warning" %>   
    <%= link_to "Tagging", tagging_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2 style="margin-bottom: 0;"> Profiles </h2> <br>
  * profiles that havent been updated the longest are shown first. <br>
  * click on name to get to edit profile page. <br> <br> <br>

  <% @profiles.each do |pro| %>
    <% if pro.advisor %>
      <%= link_to admin_edit_profile_path(profile_id: pro.id) do %>
        <p> <%= pro.advisor.first_name %> <%= pro.advisor.second_name %> </p>
      <% end %>
    <% end %>
  <% end %>
</div>
