<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_path, class: "btn btn-warning" %>   
    <%= link_to "Tagging", tagging_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2 style="margin-bottom: 0;"> Manage Profiles </h2> <br>
  * profiles that havent been updated the longest are show first <br>
  * click on name to get to edit profile page. <br> <br>

  <% @profiles.each do |pro| %>
    <ol>
      <% if pro.advisor %>
        <li> <%= pro.advisor.first_name %> <%= pro.advisor.second_name %> <br> </li>
    <% end %>
    </ol>
  <% end %>
</div>
