<!-- header -->
<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_path, class: "btn btn-warning" %>
  </div>
</div>

<!-- content -->
<div class="col-xs-6 col-xs-offset-2">
  <br> <br> <br>
  <h2> Assigning Tags to Listings |
  <!-- search options -->
  <%= link_to "All", tagging_path, class: "btn", style: "background-color: #FFD990; color: black; border: 1px solid black;" %>
  <%= link_to "Untagged", tagging_path(category: "none"), class: "btn", style: "background-color: #FFD990; color: black; border: 1px solid black;" %> </h2>
  <!-- 
  <%= link_to "Application Help", tagging_path(category: "application_help"), class: "btn", style: "background-color: #FFD990; color: black; border: 1px solid black;" %>
  <%= link_to "Career Insights", tagging_path(category: "career_insights"), class: "btn", style: "background-color: #FFD990; color: black; border: 1px solid black;" %>
  <%= link_to "Mentoring & Coaching", tagging_path(category: "practical_expertise"), class: "btn", style: "background-color: #FFD990; color: black; border: 1px solid black;" %> -->
  <p> <%= notice %> </p>
  <br> <br> <br> <br>
  
  <% @all_listings.each do |listing| %>
    <div style="margin-bottom: 80px;">
      <p style="font-size: 18px;"> <%= listing.title %> by <%= listing.advisor.first_name if listing.advisor %> <%= listing.advisor.second_name if listing.advisor %> </p>
      <p style="font-size: 14px;"> <%= listing.description %> </p>
      <!-- setting tags -->
      <%= form_for :listing, url: update_tags_url(listing_id: listing.id) do |f| %>
        <%= f.text_area :tags, value: listing.tags, style: "width: 100%; height: 68px;" %> <br>
        <%= f.submit "update tags", style: "padding: 0px 3px; margin-right: 5px;" %>
      <% end %> 
    </div>
  <% end %>

  <!-- tags directory -->
  <div class="tags_in_use grey_box">
    <h4> application_help </h4>
    <% {"accounting" => "Accounting","auditing" => "Auditing","banking" => "Banking","art_school" => "Art School","management_consulting" => "Management Consulting", "investment_banking" => "Investment Banking", "oxford" => "Oxford","asset_management" => "Asset Management","big4" => "Big4","biochemistry" => "Biochemistry","business_school" => "Business School","internships" => "Internships","cambridge" => "Cambridge","phd" => "PhD","ucl" => "UCL" ,"world_bank" => "World Bank","wharton" => "Wharton","university_applications" => "University Applications","travel_industry" => "Travel Industry","sales_careers" => "Sales","un" => "UN","scholarships" => "Scholarships","trading" => "Trading","theatre" => "Theatre","think_tanks" => "Think Tanks","product_management" => "Product Management", "politics" => "Politics","neuroscience" => "Neuroscience","teaching" => "Teaching","cover_letter" => "Cover Letter","ngos" => "NGOs","non_profits" => "Non-profits","case_studies" => "Case Studies", "mathematics" => "Mathematics","humanitarian_careers" => "Humanitarian Careers","mba" => "MBA","mckinsey" => "McKinsey","hospitality" => "Hospitality","hr" => "HR","life_sciences" => "Life Sciences","international_relations"=> "International Relations", "interviews" => "Interview Prep","finance" => "Finance","healthcare" => "Healthcare","grad_school" => "Grad School","gmat" => "GMAT","history" => "History","grande_ecoles" => "Grand Ecoles","fintech" => "Fintech","funding_applications" => "Funding","fraud_investigation" => "Fraud Investigation","games_industry" => "Games Industry","economic_consulting" => "Economic Consulting","economics" => "Economics","diplomacy" => "Diplomacy", "cv" => "CV","yale" => "Yale"}.each do |key, value| %>
      <%= key %>,
    <% end %>
    <br> <br>
    <h4> career_insights </h4>
    <% {"accounting"=>"Accounting", "auditing"=>"Auditing", "asset_management" => "Asset Management","investment_banking"=>"Investment Banking", "management_consulting"=>"Management Consulting", "business" => "Business and Business Development", "finance" => "Finance", "theatre"=>"Theatre Careers", "heritage_and_conservation"=>"Heritage and Conservation", "non_profits"=>"Non-Profits", "humanitarian_careers"=>"Humanitarian Careers", "postdoc_and_academic_careers"=>"Postdoc and Academic Careers", "diplomacy_and_ir"=>"Diplomacy, International Organizations & Relations", "teaching" => "Teaching","travel_industry" => "Travel Industry","hospitality" => "Hospitality", "design_art_graphics"=>"Design, Art and Graphics","product_management" => "Product Management","healthcare_sector" => "Healthcare Sector","entrepreneurship" => "Startup and Entrepreneurship","science_careers" => "Careers in Science","programming_and_development" => "Software, Development and Programming","career_change" => "Changing Careers","sales_careers" => "Sales Careers","engineering_careers" => "Engineering Careers", "freelance_translating" => "Freelance Translating","games_industry" => "Games Industry"}.each do |key, value| %>
      <%= key %>,
    <% end %>
    <br> <br>
    <h4> practical_expertise </h4>
    <% {"entrepreneurship"=>"Entrepreneurship", "programming_and_development"=>"Software, Development and Programming", "personal_development"=>"Personal Development", "design_art_graphics"=>"Design, Art and Graphics", "professional_exams"=>"Professional Exams", "language_exams"=>"Language Exams","side_gig" => "Side Gig", "health_and_wellbeing"=>"Health & Wellbeing", "business"=>"Business and Business Development", "visa_support"=>"Visa support", "startup"=>"Start-Up", "brainstorming_partner"=> "Brainstorming Partner", "personal_career_advice"=>"Debating your Career"}.each do |key, value| %>
      <%= key %>,
    <% end %>
  </div>

</div>
