<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_general_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Tag Management </h2> 
  <h6> 
    - Tags are to be separated by commas. <br>
    - The last listings whose tags were update is on the bottom of the page. <br>
    - To get there quickly hit cmd+bottom arrow on Mac. <br> 
    - In the top right is the list of already used tags.
   </h6> <br> <br>
  <!-- listings -->
    <% @all_listings.each do |listing| %>
      <div style="margin-bottom: 155px;">
        <p style="font-size: 18px;"> <strong> <%= listing.title %> </strong> </p>
        <p> <%= listing.description %> </p>
        <!-- set tags -->
        <h6> Tags of this Listing </h6>
        <%= form_for :listing, url: update_tags_url(listing_id: listing.id) do |f| %>
          <%= f.text_area :tags, placeholder: "no_tags_yet", value: listing.tags, style: "width: 100%; height: 65px;" %> <br>
          <%= f.submit "update tags", style: "padding: 0;" %>
        <% end %> 
      </div>
  <% end %>
</div>
