<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_general_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Tag Management </h2> <br> <br>
  <!-- listings -->
  <% @all_listings.each do |listing| %>
    <p> <b> "<%= listing.title %> </b>" </p>
    <p> <%= listing.description %> </p>
    <!-- <h6> <%= listing.tags if listing.tags %> </h6>
    <% if listing.tags. nil? %>
      <h6> no_tags_yet. </h6>
    <% end %> -->

    <!-- set tags -->
    <%= form_for :listing, url: update_tags_url(listing_id: listing.id) do |f| %>
      <%= f.text_field :tags, placeholder: "no tags yet", value: listing.tags, style: "width: 100%;" %> <br>
      <%= f.submit "update tags", style: "padding: 0;" %>
    <% end %> 

    <br> <br> <br> <br> <br> <br>
  <% end %>
</div>
