<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_general_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Tags </h2> <br>
  <!-- listings -->
  <% @all_listings.each do |listing| %>
    <p> <b> Listing: <%= listing.title %> </b> </p>
    <p> <%= listing.description %> </p> 
    <p> <%= listing.tags if listing.tags %> </p>
    <!-- set tags -->
    <%= form_for :listing, path: update_tags_path(listing_id: listing.id) do |f| %>
      <%= f.text_field :tags, placeholder: "tags" %>
      <%= f.submit "update", style: "padding: 0" %>
    <% end %> 

    <br> <br> <br> <br> <br> <br>
  <% end %>
</div>


<script type="text/javascript">
  function showDescription(){
    documentFindElementById("")
  }
</script>