<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "What people say", reviews_path %>
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Guide Login", login_path, class: "btn btn-small btn-turquoise"  %>
  </div>
</div>

<div class="simple_container">
  <div class="grey_box"> 
    <h3> Reset your password </h3>
    <%= @advisor.first_name %> <br>
    <!-- <%= form_for @advisor, path: reset_password_path do |f| %>
      <%= f.password_field :new_password_provided, placeholder: "your_password" %>
      <%= f.submit "Done.", id: "std-btn" %>
    <% end %> -->
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

