<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "What people say", reviews_path %>
    <%= link_to "About Us", about_path %>
    <%= link_to "Contact Us", contact_path %>
    <%= link_to "How It Works", how_path %>
    <%= link_to "Guide Login", login_path, class: "btn btn-small btn-turquoise"  %>
  </div>
</div>

<div class="simple_container">
  <div class="grey_box"> 
    <h3> Set your password </h3>
    <%= form_for @advisor, url: pw_reset_action_url(advisor_id: @advisor.id) do |f| %>
      <%= f.password_field :new_password_provided, placeholder: "set_new_password", id: "password_field" %> <br>
      <div onmouseover="makeVisible();" onmouseout="makeInvisible();" class="reveal_typed_pw" id="std-btn"> Reveal </div>
      <%= f.submit "Done", id: "std-btn", style: "width: 203px;"  %>
    <% end %>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

<!-- Making typed password visible -->
<script type="text/javascript">
  function makeVisible() {
    var obj = document.getElementById('password_field');
    obj.type = "text";
  }
  
  function makeInvisible() {
    var obj = document.getElementById('password_field');
    obj.type = "password";
  }
</script>
