<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "Contact Us", contact_path, class: "btn white_border" %> 
  </div>
</div>

<!-- content -->
<div class="simple_container">
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">
    <h3> Set your password </h3>
    <%= form_for @advisor, url: pw_reset_action_url(advisor_id: @advisor.id) do |f| %>
      <%= f.password_field :password_provided, placeholder: "new password", id: "password_field" %> <br>
      <div onmouseover="makeVisible();" onmouseout="makeInvisible();" class="reveal_typed_pw" id="std-btn"> Reveal </div>
      <%= f.submit "Done", id: "std-btn", style: "width: 203px;"  %>
    <% end %>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

<!-- js - making typed password visible -->
<script type="text/javascript">
  function makeVisible() {
    var obj = document.getElementById('password_field');
    obj.type = "text";
  }
  
  function makeInvisible() {
    var obj = document.getElementById('password_field');
    obj.type = "password";
  }
</script>
