<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "Support", root_path, class: "", style: "color: #F5EFE6;" %> |
    <%= link_to "How does it work", root_path, class: "", style: "color: #F5EFE6;" %> |
    <%= link_to "Login", login_path %>
  </div>
</div> <br> <br> <br> <br>

<div class="simple_container">
  <!-- errors -->
  <% if @advisor.errors.any? %>
   <h4> Try again. </h4>
   <ul>
    <% @advisor.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
    </ul>
  <% end %>
  <!-- form -->
  <div class="grey_box"> 
    <h3> Start <span style="font-size: 11px;"> - make a start by creating an account. </span> </h3>
    <%= form_for :advisor, path: signup_action_path do |f| %>
      <%= f.text_field :first_name, placeholder: "First name" %>
      <%= f.text_field :second_name, placeholder: "Last name" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password_provided, placeholder: "Password" %>
      <%= f.submit "Done." %>
    <% end %>
  </div>
  <div style="height: 40px; background-color: #FFD990; line-height: 40px; text-align: center;" >
    This is completely free.
  </div> <br> <br>
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
