<!-- header -->
<div class="gl_header">
  <div class="links">
    <%= link_to "EXPLORE LISTINGS", search_path(category: "career_insights"), class: "btn white_border"  %>
    <%= link_to "GUIDE LOGIN", login_path, class: "btn btn-small btn-turquoise"  %>
  </div>
</div>

<div class="simple_container">
  <!-- errors -->
  <% if @advisor.errors.any? %>
   <h4> Try again. </h4>
   <ul>
    <% @advisor.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
    </ul>
  <% end %>
  <!-- form -->
  <div style="position: relative;" class="grey_box"> 
    <h6 style="position: absolute; top: -4px; right: 7px;"> 1/2 </h6>
    <h3> Account <span style="font-size: 11px;"> - make a start by creating an account. </span> </h3>
    <%= form_for :advisor, path: signup_action_path do |f| %>
      <%= f.text_field :first_name, placeholder: "First name" %>
      <%= f.text_field :second_name, placeholder: "Last name" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password_provided, placeholder: "Password" %>
      <%= f.submit "Done.", id: "std-btn" %>
    <% end %>
  </div>
  <div style= "margin-top: 10px; font-size: 14px;">
    <%= link_to "Already have an account? Login.", login_path %>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>
