<!DOCTYPE html>
<html>
<head>
  <title>Guidelighter</title>
  <!-- boostrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--  rails -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="simple_container">
    <div class="simple_logo" style="color: red;">
      <%= notice %>
    </div>
    <%= yield %>
  </div>

</body>
</html>


<!-- 
  - signup
  - profile

  - validations, error msgs
  - login, login protection (using user_id passed in session rather than passed in url query string)
  - preis feld

  - work on basic composition
  - listing on home - mk link to each own site. 

  - feature für Anfragenstellung / welche kurse werrden gefragt. tres importante.
-->

