<!DOCTYPE html>
<html>
<head>
  <title>Guidelighter</title>
  <!-- boostrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--  rails -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="simple_container">
    <div class="simple_logo" style="color: red;">
      <%= notice %>
    </div>
    <%= yield %>
  </div>


  <div style="position: fixed; bottom: 5px; left: 5px;">
  </div>

</body>
</html>

<!-- 
  - tomorrow start: look at login, logout, anything missing? - add working login page

  - individual page of listing. make have, then dive into the details
  - feature Anfragenstellung / somewhere in its beginnings. simple and fast.
  - easy letout for when first listing has been created
  - soonish - talk with oleg / Wednesdday
-->
